[2016-04-09 02:57] mogul opened #1 "Test issue"
Trying to figure out what's up with ZenHub.io...

[2016-04-18 21:45] #1 closed

[2016-04-21 16:55] sharms opened #3 "Update Staging Cert for *.18f.gov"

[2016-04-21 16:56] sharms opened #4 "Roll out UAA changes"

[2016-04-21 16:57] sharms commented on #3
Issue moved to [18F/cg-ops #17](https://github.com/18F/cg-ops/issues/17) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-21 16:57] #3 closed

[2016-04-21 16:57] sharms commented on #4
Issue moved to [18F/cg-ops #18](https://github.com/18F/cg-ops/issues/18) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-21 16:57] #4 closed

[2016-04-29 00:11] dlapiduz opened #5 "Micropurchase: Offer SQS queues via aws-broker"
**Micropurchase link:** https://micropurchase.18f.gov/auctions/24
**Main repository to create Pull Request:** https://github.com/18f/aws-broker

## Description

Cloud.gov is a deployment and hosting platform for government digital services. Cloud.gov uses brokers to manage the lifecycle of services for its users. Cloud.gov invokes the AWS broker using the [CloudFoundry Service Broker API](http://d

[2016-04-29 18:23] mogul commented on #5
Closing in favor of 18F/cg-ops/#19

[2016-04-29 18:23] #5 closed

[2016-05-20 16:59] mogul opened #8 "Prepare CF Summit talk"

[2016-05-21 05:22] mogul opened #9 "Bring SSP to SAR-ready state by June"
In order to enter the FedRAMP SAR auditing process with all prerequisites satisfied, we must provide our SSP rendered in the mandated FedRAMP format with all required Moderate-level controls documented.

**Acceptance Criteria**

  [ ] The cloud.gov SSP is rendered into [the mandated FedRAMP Word .docx template] with no information missing (https://www.fedramp.gov/files/2015/03/FedRAMP-System-Secur

[2016-05-21 05:24] mogul commented on #9
Issue moved to [18F/cg-atlas #51](https://github.com/18F/cg-atlas/issues/51) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-21 05:24] #9 closed

[2016-05-25 21:31] mogul commented on #8
[We did it!](https://docs.google.com/presentation/d/1ZxhJVxXYHOQcuE8o-dlNUPPsEBu8gzkpKB65jGtjejU/edit#slide=id.p)

[2016-05-25 21:31] #8 closed

[2016-06-01 16:36] brittag opened #10 "Alert when the set of people who can access cloud.gov IaaS resources is in an unexpected state"
In order to minimize the risk of cloud.gov infrastructure being tampered with at the AWS level, only members of the cloud.gov team should be able to access cloud.gov AWS resources.

Acceptance Criteria
- [ ] Only people in the cloud.gov ops team are able to access cloud.gov resources in AWS

(This refers to the fact that other people at 18F outside the team retain some access as we've never detang

[2016-06-03 17:55] mogul opened #13 "Integrate host config integrity monitoring"
In order to be alerted when the configuration on a production VM changes from the expected state, we want to have Tripwire monitoring expected-static directories on all hosts and alerting when there are changes.

Acceptance Criteria
- [ ] Tripwire is installed on everything
- [ ] Tripwire's known-good configuration snapshot is generated as part of CD
- [ ] Tripwire excludes paths that we expect to

[2016-06-03 18:03] mogul opened #14 "[5h] Spike to investigate feasibility of a BOSH broker"
In order to determine the feasibility of using BOSH to dynamically provision managed services via a broker, we want to spend up to 5 hours prototyping to learn more.

**Acceptance criteria**

* [ ] We attempt to create a broker that presents service plans corresponding to a configured set of BOSH manifests and manages instance lifecycles for them, and talk about how far we got.
* [ ] We're able to

[2016-06-07 18:37] mogul opened #15 "Ensure services don't lapse due to expired credentials"
In order to be aware when someone has established foothold on a host, we want common signs of rootkits or other malware on a host to result in alerts.

Acceptance Criteria
- [ ] Local host-IDS (HIDS) is deployed on all hosts
- [ ] The HIDS signatures used to detect attacks are updated regularly, with trivial team effort
- [ ] When attacks are detected, alerts are sent via Riemann and PagerDuty

[2016-06-07 18:38] mogul opened #16 "Ensure the Docker broker is restarted any time a Docker host migrates"

[2016-06-07 18:40] mogul opened #17 "Always receive alerts of health monitor job failures"
In order to ensure we're aware and able to respond to problems, we want alerts from the BOSH health monitor to be routed through Riemann.
## Acceptance criteria:
- [ ] When a bosh job fails, alerts propagate from health monitor to riemann to pagerduty
- [ ] System metrics from bosh heartbeat events propagate to riemann, optionally trigger alerts when bad

Pull request: https://github.com/cloudfoun

[2016-06-07 18:41] mogul opened #18 "Alert on Riemann failures"
In order to ensure we're aware when alerting is not functional, we want to be notified when Riemann enters or leaves a non-functional state.

[2016-06-07 18:53] juliaelman opened #21 "Ramp up Julia Elman on cloud.gov team"
# Directions:
**Julia and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

## Julia checklist
- [x] Take judicious notes on what about this onboarding process or cloud.gov is confusing or frustrating. If you notice a problem (especially with th

[2016-06-07 18:56] mogul opened #22 "Better SSH/SCP/cron/port-forwarding capability"
What we're after: Users can easily run commands in, transfer files to/from, and forward ports from their app containers

Benefits/why:
- Easier to script bootstrap and cron processes
- Enables use of local tools for manipulating managed services (initialize/query/dump/restore)
- Support long-lived connections

**Note: *\* While this will almost certainly involve getting the Diego back-end deployed

[2016-06-07 18:59] mogul opened #23 "[5d] Research: Figure out what's needed to stand-up Diego next to DEAs"
In order to be able to write stories that will help us get Diego deployed next to the DEAs, we'll spend 5 days researching the current state of Diego and how best to deploy it in our environment.

**Acceptance Criteria**

* [ ] We've got enough information to create a backlog that results in Diego deployed in an entirely separate GovCloud account

[2016-06-07 19:07] mogul opened #24 "Enable working in local sandboxes"
This is about making it easy for people to work in bosh-lite

[2016-06-07 19:13] afeld opened #25 "Ramp up @afeld on cloud.gov team"
In order to get @afeld productively contributing to the cloud.gov team, Buddy should help @afeld complete a proscribed set of tasks that will bring them up to speed.

# Directions:
**@afeld and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

#

[2016-06-07 22:39] brittag opened #26 "Ramp up Britta on cloud.gov team"
In order to get Britta productively contributing to the cloud.gov team, Buddy should help Britta complete a proscribed set of tasks that will bring them up to speed.

# Directions:
**Britta and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

#

[2016-06-08 17:42] thisisdano opened #28 "Ramp up @thisisdano on cloud.gov team"
In order to get Dano productively contributing to the cloud.gov team, Marco should help Dano complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**Dano and Marco:** Try to go through your checklists in order.
**Marco:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

## Dano

[2016-06-10 01:42] mogul opened #29 "Tee ELK logs for retention+correlaton"
In order to enable maximum log correlation for forensics by an enterprise/gov-wide SIEM, all logs collected should end up in one place.

---

From cloud-gov-support@gsa.gov:

[2016-06-13 15:21] frsfx opened #30 "Ramp up Fawad on cloud.gov team"
In order to get Fawad productively contributing to the cloud.gov team, Buddy should help Fawad complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**Fawad and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

## N

[2016-06-13 22:53] mogul opened #31 "Configure Nessus scans"
In order to actually derive benefit from all our work to embed scanning agents in all hosts, we need scans configured to run and be reported on a regular basis.

**Acceptance Criteria**

* [x] Every host in production runs a daily Nessus scan that includes the CIS1 benchmark

[2016-06-14 02:20] afeld opened #32 "As a user, I want a self-service way to set up automated deployment"
As noted in https://github.com/18F/cg-docs/pull/262#issuecomment-221426769, it isn't currently possible for non-admins to create deployer credentials for themselves. This is a barrier to users setting up automated deployment, which is a behavior we want to encourage.

[2016-06-14 02:21] afeld commented on #32
As noted [in Slack](https://18f.slack.com/archives/cloud-gov-support/p1465855139000063), creating tokens is preferable to creating dedicated users, since passwords expire.

[2016-06-15 04:38] mogul opened #33 "Review SSP with 3PAO"
In order to identify places where the docs need to be improved or we need to implement missing practices, we want to review all control sections of the SSP with our 3PAO, Veris.

[2016-06-15 15:19] sushiandbeer opened #34 "Ramp up Mike Jacobi on cloud.gov team"
In order to get Mike Jacobi productively contributing to the cloud.gov team, Buddy should help Mike complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**Mike and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

[2016-06-15 19:46] rogeruiz opened #35 "Upgrade all schema_versions from 2.0.0 to 3.0.0"
The schema versions for `2.0.0` contain breaking changes for version `3.0.0`
and need to be updated. While we're filling out the SSP, this work is necessary
since it will help in reviewing the content of the SSPs in `18F/cg-compliance`
that have been finished.

- [x] `CICloudGov/component.yaml|15 col 1| schema_version: 2.0`
    - https://github.com/18F/cg-compliance/pull/124
- [x] `CloudCheckr/com

[2016-06-15 19:51] rogeruiz commented on #35
CM_Policy has been done here 18F/cg-compliance#113

[2016-06-15 20:05] jbarnicle commented on #35
SC_Policy has been done here https://github.com/18F/cg-compliance/pull/115

[2016-06-15 20:33] mogul commented on #14
@sushiandbeer Can you involve the person who's working on this from the Altoros side in this issue for visibility?

[2016-06-15 20:34] madhujoshi opened #36 "Ramp up Madhu on cloud.gov team"
In order to get NewPerson productively contributing to the cloud.gov team, Buddy should help NewPerson complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**NewPerson and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person doe

[2016-06-15 21:06] mogul opened #37 "Ramp up John Barnicle on cloud.gov team"
In order to get John productively contributing to the cloud.gov team, Buddy should help Fawad complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**John and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

## New

[2016-06-15 21:08] mogul opened #38 "Ramp up Josh Carp on cloud.gov team"
In order to get @jmcarp productively contributing to the cloud.gov team, Buddy should help @jmcarp complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**@jmcarp and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

[2016-06-16 00:08] mogul opened #39 "Deprecate/consolidate EPA docker swarm broker"
EPA has its own dedicated instance of the Docker Swarm Broker that shouldn't still exist... It's a legacy of when we had no other way to identify who to charge for what services. We should get rid of it in anticipation of migrating users to AWS GovCloud and using Abacus in metering long-term.

[2016-06-16 02:27] dlapiduz commented on #31
I did this yesterday...
![screen shot 2016-06-15 at 9 27 33 pm](https://cloud.githubusercontent.com/assets/4604/16103667/0426ddba-3340-11e6-922b-cf98accb9bf2.png)

[2016-06-16 02:28] dlapiduz commented on #15
I think we need a service that creates and tracks deployer credentials

[2016-06-16 02:51] afeld commented on #15
--> https://github.com/18F/cg-product/issues/32

[2016-06-16 05:01] rogeruiz commented on #35
Alrighty, all the items I marked above are done / ready for review.

[2016-06-16 12:59] afeld commented on #35
Thanks so much for doing all of that!

[2016-06-16 12:59] #35 closed

[2016-06-16 16:55] rogeruiz commented on #31
Looks good to me.

[2016-06-16 16:55] #31 closed

[2016-06-17 17:55] afeld commented on #32
Token conversation broken out to https://github.com/18F/cg-docs/issues/286.

[2016-06-17 19:05] sushiandbeer commented on #23
[Addressed in https://github.com/18F/cg-atlas/issues/96]

The currently deployed CF release as of Thursday, June 16 was v234, which has a recommended Diego release v0.1463.0.  Both CF v234 and Diego v0.1463.0 have bugs that I think we should address by upgrading to a later release of CF (and thus Diego).  Notably:

CF: https://www.pivotaltracker.com/story/show/112562131
Diego: https://www.pivotalt

[2016-06-17 19:12] sushiandbeer commented on #23
In order to make use of new bosh features and bug fixes as required by newer versions of CF and Diego, as ops engineers we need to verify and possibly upgrade the currently deployed bosh version.

#### Acceptance Criteria

- [ ] Deployed bosh release is at least 225.4 as required for Diego v0.1473.0

[2016-06-17 19:21] sushiandbeer commented on #23
To ensure we can adequate service customers, as ops engineers we need to appropriately size our Diego deployment.

#### Acceptance Criteria

- [ ] Establish manifest parameters with regards to size and number of Diego cells and other components
- [ ] Determine and document thresholds where sizing should be adjusted

#### Implementation Sketch

[2016-06-17 19:51] sushiandbeer commented on #23
In order to make Diego available to platform users, as ops engineers we need to deploy Diego integrated with the existing CF deployment.

#### Acceptance Criteria

- [ ] A concourse pipeline task that pulls in the dynamically generated CF manifest and feeds it to the Diego manifest generation script
- [ ] A concourse pipeline that deploys an appropriate version of Diego for the deployed version of

[2016-06-17 22:18] mogul commented on #15
We have a Slack reminder covering this for now... Going to Icebox this until it's more of a hassle.

[2016-06-18 02:37] #33 closed

[2016-06-18 04:25] mogul opened #41 "SSP document remediations"
In order to ensure our SSP is ready for JAB technical reviewers, we need to remediate the points raised by our 3PAO interviews.

_(Note: Be careful to ensure that your changes are made in the right place to find their way back into the YAML! See in particular 18F/cg-atlas#91.)_

**Acceptance Criteria**

- [x] IR: Incident Response Plan should include:
  - [x] Frequency of testing/tabletop exercise

[2016-06-18 04:41] mogul opened #42 "RSC-C: Ensure EBS data is encrypted at rest in GovCloud deployment"
In order to comply with `NIST 800-53 SC-*`, the cloud.gov team should ensure that all EBS data is encrypted at rest.

**Acceptance Criteria**

- [x] Make sure that all EBS volumes are encrypted

**Implementation Sketch**

* Update BOSH manifests to include encryption on EBS (now that it's working correctly)
  - [x] admin-ui ( https://github.com/18F/cg-deploy-admin-ui/pull/5 )
  - [x] bosh ( https:

[2016-06-18 04:52] mogul opened #43 "RCA-A: Develop and publish Continuous Monitoring Plan"
In order to comply with `NIST 800-53 CA-*` cloud.gov should have a published continuous monitoring plan.

**Acceptance Criteria**

- [ ] docs.cloud.gov includes an explicit continuous monitoring plan sufficient to meet the "explains" section of `CA-*`
- [ ] Actual monitoring practices are in sync with the published plan
- [ ] The SSP `CA-*` sections are updated to point to this information

[2016-06-18 05:10] mogul opened #44 "Assemble documents for JAB package"
In order to submit a complete JAB package for Technical Review, we must assemble related documents that will be bundled alongside the SSP in our package.

**Acceptance Criteria**

- [ ] The following documents are all delivered alongside the SSP in [max.gov](https://community.max.gov/display/FedRAMPExternal/GSA+18F+Cloud.gov+Submissions)
  - [x] 5 signed Rules of Behavior sheets
  - [ ] 5 complete

[2016-06-20 16:39] sushiandbeer commented on #23
Research notes:

As of June 15, cg is on v234 (https://github.com/cloudfoundry/cf-release/releases/tag/v234), which was released on April 6

	Recommended Diego version for that release is https://github.com/cloudfoundry-incubator/diego-release/tree/v0.1463.0
	Recommended Garden Linux release is https://github.com/cloudfoundry-incubator/garden-linux-release/tree/v0.335.0
	Recommended etcd release i

[2016-06-20 16:42] sushiandbeer commented on #23
Since we upgraded to CF v237 in 18F/cg-atlas#96, we should look to deploying Diego v0.1472.0 or later.

[2016-06-21 17:22] mogul commented on #43
@afeld

[2016-06-21 17:27] mogul commented on #42
@sharms says break this one up; will do shortly.

[2016-06-21 19:05] jwitles commented on #44
- [ ] A screenshot of the bucket policy and/or object-level ACL associated with 5 S3 buckets currently employed in the Cloud.gov environment to store non-public data
- [ ] A screenshot of the encryption mechanisms currently employed for 5 RDS database instances (if encryption is currently being employed)
- [ ] A screenshot of a user authenticating to the AWS console via multi-factor authentication

[2016-06-21 20:46] afeld opened #45 "As a tenant, I want to use UAA for authentication"
@mogul @LinuxBozo and I had a conversation with @toolness and @jseppi today about using the cloud.gov login for the CALC application. We think the setup will be straightforward, but we should document the process, what the considerations are for users, etc. Examples:

* Do authentication via UAA, but handle all authorization in the app itself (so that the tenant doesn't have to go through the clou

[2016-06-22 12:57] jwitles commented on #44
- [ ] 5 Stories executed in the Cloud.Gov environment
- [ ] 5 Cards executed in the Cloud.Gov environment
- [ ] 5 Pull Requests executed in the Cloud.Gov environment
- [ ] 5 Screenshots of integration testing failures

[2016-06-22 15:18] src-veris commented on #44
PL-2.a.9: Proof that the SSP is reviewed/approved by Cloud.gov Executive Dir and/ GSA CISO
PL-2.b.2: Example of emails sent to users to notify them the SSP has been updated
PL-4.d: Copy of an employee-signed RoB agreement

[2016-06-22 15:29] src-veris commented on #44
CM-5.3 / CM-5(3).2 / CM-5.4: Copy of AWS Access Policy

[2016-06-22 16:07] andrewledford commented on #44
- [ ] Artifacts demonstrating Cloud.gov lockout after 15 minutes of inactivity including a screen shot after the initial login with a timestamp, a screen shot after 15 minutes of inactivity showing the session timed out and requires reauthentication including the timestamp, and the code indicating when users sessions lockout after a period of inactivity.

- [ ] Documentation explaining how passwor

[2016-06-22 16:34] mogul commented on #42
@dlapiduz is wrestling with this via cloudfoundry-incubator/bosh-aws-cpi-release#34

[2016-06-22 17:31] AliMassihi commented on #44
Contingency Plan Updates needed:

- [ ] Populate Recovery Time Objectives (RTO) throughout Contingency Plan

- [ ] Populate Contact Information in Contingency Plan (Section 3.1 - Table 3-1 and Appendix A)

- [ ] Populate Plan Approval information in Contingency Plan

- [ ] Populate Appendix J in Contingency Plan (Test/Maintenance Schedule)

- [ ] Populate Key Roles in Contingency Plan and state th

[2016-06-23 14:37] mogul opened #46 "RSC-A: Ensure S3 data is encrypted at rest in GovCloud deployment"
In order to comply with `NIST 800-53 SC-*`, the cloud.gov team should ensure that all data in S3 is encrypted at rest.

**Acceptance Criteria**

- [x] Make sure that all S3 buckets are encrypted

**Implementation Sketch**

* Investigate whether Diego's new Go-based S3 encryptor can be run in CF as he expects without access issues
* Josh says BOSH is accepting a PR to encrypt log files as they're u

[2016-06-23 14:38] mogul opened #47 "RSC-B: Ensure RDS data is encrypted at rest in GovCloud deployment"
In order to comply with `NIST 800-53 SC-*`, the cloud.gov team should ensure that all RDS data is encrypted at rest.

**Acceptance Criteria**

- [x] Make sure that all terraform provisioned RDS instances are encrypted
 - [x] tooling BOSH
 - [x] staging BOSH
 - [x] production BOSH
 - [x] staging concourse
 - [x] production concourse

**Implementation Sketch**

* Take backups of BOSH and Concourse R

[2016-06-23 14:40] mogul commented on #42
I split [S3](18F/cg-product#46) and [RDS](18F/cg-product#47) out into their own issues.

[2016-06-23 17:14] mogul opened #48 "Ramp up Sergey Matyukevich on cloud.gov team"
In order to get Sergey productively contributing to the cloud.gov team, a Buddy should help Sergey complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**Sergey and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

[2016-06-23 17:23] mogul commented on #48
OK, @s.matyukvich, you can start running down the list above. Reminders:

- There will be links to Google Drive that you're not able to access... Sorry, we can't easily expose them outside of GSA due to the Google Apps setting! @frsfx is making a list of them and we'll move them out of Google Drive into this repository as soon as we can.
- I'll find an onboarding buddy already on the team for you

[2016-06-23 17:26] afeld commented on #45
Some discussion about how they got it working here: https://18f.slack.com/archives/cloud-gov-atlas/p1466698270000915

[2016-06-23 17:29] jseppi commented on #45
I think it can be boiled down to using the correct URL: `https://login.cloud.gov/oauth/authorize?response_type=code&client_id=<YOUR_APP_CLIENT_ID>`

[2016-06-23 22:04] dlapiduz commented on #14
@mogul is this still "in progress"?

[2016-06-24 01:27] s-matyukevich commented on #48
@mogul I enabled 2FA for my github account (s-matyukevich)

[2016-06-24 02:38] mogul commented on #45
I'd still like @LinuxBozo to note here specifically what he did to set it up on the UAA side so anyone can do it in future.

[2016-06-24 02:40] mogul commented on #14
Yes, I asked @s-matyukevich to post info on what he's done here.

[2016-06-24 02:40] mogul commented on #14
(He said in today's standup that he's got it working!)

[2016-06-24 02:42] mogul commented on #14
@s-matyukevich, in case you didn't see it, please also check out 18F/cg-product#13 for additional context about what we're after here... Wasn't sure if you've seen the Brooklyn stuff or the CF Summit talk.

[2016-06-24 17:34] rogeruiz commented on #42
@jmcarp and I are tackling these in tandem, and editing the comment above with links to the PR ☝️.

When these changes are merged in, we can start ticking off boxes. So if you're merging in a PR, please tick off the box that it covers.

[2016-06-24 18:46] s-matyukevich commented on #14
@mogul  You can find the broker here https://github.com/s-matyukevich/bosh-broker

[2016-06-24 18:47] s-matyukevich commented on #13
https://github.com/s-matyukevich/bosh-broker  This is a POC for the broker

[2016-06-27 19:23] mogul commented on #14
Tagging @jmcarp to review and give feedback/PRs.

[2016-06-27 22:11] mogul opened #51 "Ramp up Nikki on cloud.gov team"
In order to get Nikki productively contributing to the cloud.gov team, Bret (Buddy) should help Nikki (NewPerson) complete a prescribed set of tasks that will bring her up to speed.

# Directions:
**NewPerson and Buddy:** Try to go through your checklists in order.
**Buddy:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate

[2016-06-28 13:44] andrewledford commented on #44
- [ ] Artifacts showing that account creation, modification, enabling, disabling, and removal activities are being logged and alerted for GitHub and AWS.

- [ ] Artifacts that account usage such as successful login attempts, unsuccessful login attempts, etc. are being logged, monitored, and reported.

- [ ] Artifacts showing how duties are separated and how users don't have excessive privileges.

[2016-06-28 17:06] #42 closed

[2016-06-28 17:13] #23 closed

[2016-06-28 17:31] rogeruiz commented on #16
This should no longer be an issue since we now have static IPs.
 cc: @dlapiduz @sharms

[2016-06-28 17:31] #16 closed

[2016-06-28 17:32] rogeruiz commented on #17
Health monitor knows a service has failed, but with logging from bosh monit we'd have insight into these failures.

[2016-06-28 17:34] rogeruiz commented on #18
_Proposed AC_
- [ ]  Alert when Riemann is not receiving collectd messages
- [ ] Alert when Riemann is not receiving `cf-firehouse` messages

[2016-06-28 17:42] rogeruiz opened #52 "Deploy Bosh broker"
We'll be able to flesh this out after tomorrow's demo of [the bosh broker](https://github.com/s-matyukevich/bosh-broker) by @s-matyukevich.

[2016-06-28 19:33] dlapiduz commented on #46
@sharms are we encrypting all buckets/some buckets? how does it work?

[2016-06-29 16:58] src-veris commented on #44
•	PS-2.c.2: Proof that GSA has reviewed & updated position risk description within the last 3 years
•	PS-3.b.3: Proof that 18F employees have been re-screened (redact PII)
•	PS-3(3).a: Sample copy of a completed and signed access authorization form (redact PII)
•	PS-3(3).b.2: Confirm whether or not there are additional personnel screening requirements for Cloud.gov
•	PS-4.b: Proof that employee cr

[2016-06-29 17:58] src-veris commented on #44
PS-3b.2: How often are employees re-screened? Annually? According to type of background check - public trust vs secret security clearance?

[2016-06-29 21:18] afeld commented on #44
Let's link to the relevant stories for each of the tasks, since this is kind of an Epic.

[2016-06-29 21:22] afeld commented on #47
@LinuxBozo Mind listing tasks or linking to other more specific issues?

[2016-06-29 21:30] rogeruiz opened #53 "Updating on-boarding to better limit the scope of AWS on-boarding"
On the subject of on-boarding, when I was ramping up I did my best to _skip the AWS related on-boarding tasks_ which spoke to gaining access to AWS console directly. With the addition of [Terraform](https://www.terraform.io/intro/) and [Concourse jump boxes](https://docs.cloud.gov/ops/troubleshooting-bosh/), *we don't actually need as much access to AWS as we did previously*.

## Acceptance criter

[2016-06-29 21:38] jbarnicle commented on #53
I think a link to a short background video / tutorial on Terraform would make sense as well.

[2016-06-30 03:28] dlapiduz commented on #41
@clovett3 can you pick these changes from cg-compliance?

[2016-06-30 16:49] #41 closed

[2016-06-30 17:01] rogeruiz commented on #44
@mogul: ~~We either need to break this up or~~ Let's have people assign themselves to each box

[2016-06-30 17:15] mogul commented on #44
From Veris via e-mail:

[2016-06-30 20:29] madhujoshi commented on #53
I would be happy to help with AWS ramp up.  I've AWS training / coaching background.

[2016-06-30 21:30] jmcarp opened #54 "Liberator team should have access to some concourse pipelines but not all"
The liberator team should have access to the concourse pipelines that deploy console.cloud.gov (once it exists) and other liberator services, but not to all cloud.gov pipelines. One proposed solution is to spin up a separate concourse instance that deploys liberator services.

@dlapiduz @jcscottiii @msecret

[2016-06-30 21:32] afeld commented on #54
Bummer that Concourse doesn't offer [finer-grained access control](https://github.com/concourse/concourse/issues/194).

[2016-06-30 21:33] msecret commented on #54
Are there any downsides to having our own concourse? Or is the main downside the time it would take to set that up?

[2016-06-30 21:34] afeld commented on #54
Just having the overhead of maintaining multiple, yeah. @s-matyukevich is this something the [BOSH broker](https://github.com/s-matyukevich/bosh-broker) could be useful for?

[2016-06-30 21:34] rogeruiz commented on #54
@msecret aside from spinning up a new Concourse, there is the additional overhead of learning how to use Concourse. http://concourse.ci/flight-school.html

[2016-07-01 14:27] jmcarp commented on #17
Is there more to this than sending health monitor alerts to pagerduty / cloudwatch?

https://bosh.io/docs/hm-config.html

[2016-07-01 15:28] #45 closed

[2016-07-01 15:45] toolness commented on #45
Thanks for the help on this folks!  We were able to add UAA authentication to our Django-based app in https://github.com/18F/calc/pull/317. The full process is documented there, but one main highlight relevant to this issue is that instead of making the user overrideable via environment variable, we opted for a "fake UAA provider":

<img src="https://cloud.githubusercontent.com/assets/124687/16397

[2016-07-01 16:50] mogul commented on #47
All set!

[2016-07-01 16:50] #47 closed

[2016-07-01 17:46] dlapiduz opened #55 "[timebox: 12h] Rehearse our contingency plan"
In order to show how quickly we can recover the platform from scratch, we should measure how long it takes to redeploy into a fresh AWS GovCloud account.

RPO: Platform up, but all S3 and RDS and managed service content is lost

**Acceptance Criteria**

* [ ] Demonstrate whether it's possible to bring up the entire platform in a empty AWS GovCloud account by following the instructions in `cg-provi

[2016-07-01 19:27] dlapiduz commented on #46
I see encrypted files!

[2016-07-01 19:27] #46 closed

[2016-07-05 14:42] jbarnicle opened #56 "DoD link links to main document"
The link "a set of statements that should be true for each card " under Column Exit Criteria links to the main document.  The DoD immediately follows - so not sure this link is even necessary.

[2016-07-05 22:47] afeld commented on #43
Is this closed by https://github.com/18F/cg-docs/pull/313?

[2016-07-05 22:51] dlapiduz commented on #43
Let me double check with Veris...

[2016-07-05 22:52] #38 closed

[2016-07-06 16:51] rogeruiz commented on #44
@dlapiduz Can you make sure that this card is update?

[2016-07-06 17:00] rogeruiz commented on #37
@jbarnicle 👍

[2016-07-06 17:00] #37 closed

[2016-07-06 17:02] rogeruiz commented on #17
@jmcarp Please link stuff on here.

[2016-07-06 18:38] jmcarp commented on #17
The latest work is at https://github.com/sharms/bosh--we'll send a PR upstream once we confirm that everything's working.

[2016-07-06 19:37] andrewledford commented on #44
- [ ] Artifacts showing that local accounts are disabled by default and that no local accounts exist.

[2016-07-06 23:06] mogul commented on #43
@dlapiduz any word on what we should do here?

[2016-07-06 23:10] mogul commented on #18
Please elaborate on the story here sooner (to help with prioritization) or later (once this reaches `Grooming`) to ensure everyone has enough context to be able to move it forward.

[2016-07-07 00:34] brittag opened #57 "Change default logs.cloud.gov search timespan to a reasonable span"
Story: In order to understand https://logs.cloud.gov/ and use it effectively as a cloud.gov user, I'd like the default timespan for log/event view to match my expectations, which are probably longer than "Last 15 minutes".

On a new user's first visit to this page when they're trying to understand how it works, the "Last 15 minutes" view is pretty likely to have 0 results, and they may not notice

[2016-07-07 16:54] dlapiduz commented on #43
@mogul not sure, but closing it out for now until we hear anything back.

[2016-07-07 16:54] #43 closed

[2016-07-07 16:55] mogul commented on #43
Why are we closing it out? Aren't we still on the hook to provide this?

[2016-07-07 16:55] dlapiduz commented on #44
FYI, I've been checking things off. The only things really missing is the GSA retraining proofs

[2016-07-07 17:52] sushiandbeer opened #58 "Research options for logging Concourse authorization and user event logging"
As an SRE, I'd like to be able to restrict access to portions/aspects of Concourse and also determine who did what (basically the last two As in AAA: authorization and accounting)

[2016-07-07 22:48] afeld commented on #58
Related issues: https://github.com/18F/cg-product/issues/54 https://github.com/18F/cg-atlas/issues/41 https://github.com/18F/cg-atlas/issues/12

[2016-07-08 13:52] jmcarp commented on #14
Update: I read the code a week or so ago and thought the overall approach made sense. If we're going to continue with this, the next step would be https://github.com/18F/cg-product/issues/52.

[2016-07-08 14:01] dlapiduz commented on #14
@jmcarp should we close this out then?

[2016-07-08 14:03] jmcarp commented on #14
Sounds good to me--closing.

[2016-07-08 14:03] #14 closed

[2016-07-08 16:57] rogeruiz opened #59 "Concourse container explosions"
We're having concourse issues. @jmcarp could you fill this out a bit more?

[2016-07-08 21:25] mogul commented on #30
Is there any reason we shouldn't call this `In Progress`?

[2016-07-08 21:25] mogul commented on #36
@madhujoshi you can be progressing down much of this list on your own... Is there any reason we shouldn't get this `In Progress`?

[2016-07-08 23:49] frsfx commented on #30
Not at all.  Honestly, at this point I've gone through all the items I could.  I marked the ones that I completed and noted what items required access. I just need to pair up with someone like I did today with Roger.

[2016-07-10 15:21] sushiandbeer commented on #34
@mogul: I've requested access to these resources several times as we discussed in a couple/few meetings.  How can we rectify this?

1. Cannot view https://handbook.18f.gov/#teams referenced in https://github.com/18F/cg-product/blob/master/Onboarding.md  No GSA account.
2. Could not access the “cloud.gov team roster sheet” referenced in the onboarding doc.  Requested access to the Google Drive.
3.

[2016-07-10 15:23] sushiandbeer commented on #34
@mogul: I've requested a buddy several times per the task above, titled, "Figure out who your onboarding buddy is (they should reach out to you) and make sure this issue should be assigned to them)"  No one is volunteering and no one has been assigned.  Should I just disregard this task?

[2016-07-10 15:27] sushiandbeer commented on #34
@mogul: I apparently need a GSA account in order to access the FedRAMP Cloud Foundry instance.  I can imagine I need it to access other resources as well.  How can we make this happen?  @dlapiduz and I had chatted about it last week, but I thought I should document that here.

[2016-07-10 15:31] sushiandbeer commented on #34
@mogul: What Slack channels should I monitor?

[2016-07-10 17:36] sushiandbeer commented on #34
Regarding the next to last item, I can confirm I do indeed need an AWS account.  This is critical, for example, to be able to view instance state and logs when debugging stemcell creation issues.

[2016-07-11 14:09] jmcarp commented on #59
Starting last Thursday, when govcloud concourse auto-upgraded to 1.4.0, cpu usage jumped to 100% on the corresponding rds instance, making concourse unusable. Upgrading to concourse 1.4.1 had no discernible effect. Resizing the rds instance from m3.medium to m3.xlarge brought cpu usage back to an acceptable level.

I'm still not sure why the upgrade (apparently) spiked cpu usage, and I'm not sure

[2016-07-11 16:51] #59 closed

[2016-07-11 16:52] mogul commented on #44
Veris said in the FedRAMP PMO chat this morning that they're going to give us a consolidated list of what's outstanding; apparently mostly screenshots.

[2016-07-11 23:12] s-matyukevich commented on #55
https://github.com/18F/cg-bootstrap-concourse-ami/pull/5 tiny pull request, that fixes readme file for cg-bootstrap-concourse-ami repo

[2016-07-13 18:43] berndverst opened #61 "Ramp up Bernd on cloud.gov team"
In order to get Bernd productively contributing to the cloud.gov team, Bret should help Bernd complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**Bernd and Bret:** Try to go through your checklists in order.
**Bret:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

## New

[2016-07-13 22:21] brittag opened #62 "Outline how the current cloud.gov user experience affects a user's "time to ATO""
In order for cloud.gov designers to help ourselves apply our expertise to cloud.gov, as designers (and anyone else interested) we should have an outline of where (and how much) the current overall cloud.gov design (UX, visual, content) might slow down a user's "time to ATO".

This should be a short task (a sketch rather than a map) - an experiment to help us think about our work.

I made a doc for

[2016-07-14 03:56] dlapiduz commented on #43
It turns out we are not, we just need to follow the continuous monitoring Fedramp practices per https://github.com/18F/cg-docs/pull/313

[2016-07-14 16:59] mogul commented on #44
@dlapiduz Can you give a status update on this one and/or move it if warranted?

[2016-07-14 22:34] mogul opened #63 "Guidance for getting ATO with cloud.gov (16)"

[2016-07-15 16:29] s-matyukevich commented on #55
I've created a pull request, that contains changes, that allows cg-provision repo to be deployed in non gov regions.
https://github.com/18F/cg-provision/pull/47

For now this pull request is not ready to be merged. I created it to allow everybody to see progress and comment on changes.
The summary of the things that were done:
1. All bucket names made configurable.
2. It becomes possible to config

[2016-07-15 17:01] rogeruiz commented on #34
Closing for now, since some parts of onboarding may need to be re-evaluated. We can reopen this later.

[2016-07-15 17:01] #34 closed

[2016-07-15 17:01] rogeruiz commented on #30
Closing for now, since some parts of onboarding may need to be re-evaluated. We can reopen this later.

[2016-07-15 17:01] #30 closed

[2016-07-15 17:02] rogeruiz commented on #48
Closing for now, since some parts of onboarding may need to be re-evaluated and @s-matyukevich mentioned that he's getting a better understanding of the arch via `cg-provision`. We can reopen this later.

[2016-07-15 17:02] #48 closed

[2016-07-15 17:03] rogeruiz commented on #44
We've sent them as much as we could. 👍

[2016-07-15 17:03] #44 closed

[2016-07-15 18:35] mogul opened #65 "Auth "local" accounts with MFA"
What we're after: Users logging into cloud.gov without any SSO configured for their domain are required to set up a second-factor for authentication

Benefits:
- Better compliance for cloud.gov
- Better security for government deployments
- Better ability to provide "local" accounts that are not used in any other context, eg contractor accounts
- Better ability to support agencies without their ow

[2016-07-15 18:35] mogul opened #66 "[3d] Research non-PIV MFA options for UAA"
In order to maintain security on our platform and to comply with government regulations, we want to spend up to 3 days defining our approach for implementing 2-factor auth.

**Acceptance Criteria**:

- [ ] We settle on a SAML-based ID Provider that can support TOTP as a 2FA for compatibility with common authenticator apps like Google Authenticator, Authy, etc.
- [ ] We can write stories about how

[2016-07-15 18:40] mogul opened #67 "Activate our base of inquiries"
What we're after: Increase the rate of IAAs for cloud.gov from ~15/year to... something higher

Benefits/why:
- Shift focus toward cost-recovery
- Keep funding levels sufficient to sustain velocity
- Increase the impact of the work done to date

Ideas floated
- seminars, blog posts, mailchimp, etc.
- maybe this is where CRM comes in

[2016-07-15 18:40] mogul opened #68 "Migrate to GovCloud"
What we're after: Existing tenants are migrated to GovCloud, and E/W is ramped down

Benefits/why:
- Eliminate drift, split attention, and overhead of two deployments
- Reduce burn rate on infrastructure costs
- Reduce ATO maintenance overhead for both GSA LATO and FedRAMP
- Avoid later migration impact from the expected influx of new customers

Metric:
- TTS-owned apps in E/W approaches zero
- Ac

[2016-07-15 18:40] mogul opened #69 "Increase monitoring of services"
What we're after: We find out about services being unavailable before our customers

Benefits/why:
- Avoid the team drowning in fire alarms
- Enable more confident rollout of future services

[2016-07-15 18:41] mogul opened #70 "Improve deck utility"
What we're after: Bring the usability and functionality of dashboard.cloud.gov up to at least a level where people are using it and getting utility daily

Benefits

- Novice cloud.gov users have a much easier time coming up to speed
- Enabler for  [showing live billing info in the deck](https://18f.aha.io/features/CGP-225)

See [Invision mock-ups](https://gsa.invisionapp.com/share/MA7U5XOZJ#/scree

[2016-07-15 18:41] mogul opened #71 "Proactive notice of new features and platform-wide incidents or changes"
What we're after: Users are regularly and centrally informed of general (non-user-specific) changes happening in cloud.gov: New features, outages, changes

Benefits/why:
- Users can make use of new facilities, and react to events that need their attention.
- Users perceive cloud.gov velocity

Metrics:
- How many users are contacted when we have a new feature/outage/announcement?
- How consistently

[2016-07-15 18:42] mogul opened #72 "Automatically manage subscriptions of users to technical updates"
In order for SkyPorter to be able to message all users without worrying about their subscription preferences, we want a list in our mailing list manager to track the set of active users in cloud.gov.

(This is about being able to notify users of changes in the service on a routine basis, with users able to opt in and out, default being in)

[Background discussion notes](https://docs.google.com/doc

[2016-07-15 18:42] mogul opened #73 "Updates we send to our users are visible in cloud.gov/updates"
cloud.gov/updates is fed from our Discourse topics, and clicking to comment on the update goes back to the Discourse thread.

[2016-07-15 18:42] mogul opened #74 "New users are subscribed to statuspage.io for outages"

[2016-07-15 18:42] mogul opened #75 "Users can review a single timeline of their notifications"
From the deck, a user can see a "notifications" icon (similar to Facebook or GitHub). Clicking the icon gives them a timeline of all events visible to them: Platform updates, notices about their apps, when invoices are available, etc.

[2016-07-15 18:42] mogul opened #76 "We can notify users with roles on a space about specific events"
Eg you're hitting quota, your app is crashing a lot, your app is scaled too high for the traffic it's getting, etc. (This is expected to involve the [cloudfoundry notifications](https://github.com/cloudfoundry-incubator/notifications) incubation project.)

[2016-07-15 18:44] mogul opened #77 "Streamline new user provisioning"
What we're after: Sand the rough edges off of the new-user experience and user provisioning

Benefits/why:
- Reduce team overhead due to onboarding and support on both the SkyPorter and Liberator side

[2016-07-15 18:44] mogul opened #78 ".gov/.mil/.fed.us users can self-provision accounts"
In order to make sign-up for cloud.gov accounts as easy as possible, users with .gov, .mil, and .fed.us addresses can generate their own invitation.

**Acceptance Criteria**

- [x] There's an unauthenticated form where entering any federal .gov, .mil, or .fed.us e-mail address will generate an invitation
- [x] If an entered address doesn't match the requirements, then the user is politely informed

[2016-07-15 18:45] mogul opened #79 "Inform new users about their sandbox"
In order to encourage usage and deter support requests, new users should be informed about the existence/restrictions/acceptable use of their sandbox, and a pointer to further docs.

[2016-07-15 18:45] mogul opened #80 "Add a walkthrough for new cloud.gov users"
In order for new users to be able to make productive use of cloud.gov, we should provide a walkthrough that takes a user from new-account through (re-)deploying an application.

https___trello.com_c_IZbvmwPE_401-inform-new-users-about-their-sandbox (https://18f.aha.io/attachments/token/ea18992375c45db40d55b538e9b54a5c64c7fc6ee614dc7999eaa09b509a7fca.download)
https___github.com_18F_cg-docs_pull_14

[2016-07-15 18:45] mogul opened #81 "Document how to set up sandbox orgs"
/cc https://github.com/18F/cg-product/issues/82

[2016-07-15 18:45] mogul opened #82 "Document how to set up non-sandbox orgs"

[2016-07-15 18:45] mogul opened #83 "Users can figure out cloud.gov's escalation path"
In order to ensure users can follow an up-to-date escalation procedure even when our practices change, cloud.gov should include documentation on the expected escalation path when the service is not behaving as advertised.

[2016-07-15 18:45] mogul opened #84 "Understand what I can use a sandbox for"
What attributes or capabilities would indicate that this Feature is done and delivers the intended benefit? (Each might be a story.)

[2016-07-15 21:20] brittag commented on #72
This would include some lightweight user research (very short interviews) to learn how people *want* to get notified about various kinds of cloud.gov news (breaking changes, feature updates / new features, etc.), ideally including people at 18F, people at EPA, and a few prospective users from other agencies. (Do they read their email? Do they want an RSS feed? Would they reeeally just want a littl

[2016-07-15 21:24] brittag commented on #72
This would also likely include:

* Fix the RSS feed for the updates posts (https://github.com/18F/cg-landing/issues/88)
* Make a mailing list happen

[2016-07-15 21:33] brittag commented on #77
This would be closely related to making a walkthrough - https://github.com/18F/cg-product/issues/80 - they'd be good to work on together, since we'd find issues with new user onboarding while making a walkthrough.

[2016-07-15 21:56] mogul opened #85 "Improve value-proposition communication"
What we're after: People arrive in threads and meetings with our bizdev folks having a much better idea what cloud.gov is/does

Benefits/why:
-  Reduce wasted effort/time for both prospective customers and people on the team

We need compact ways to communicate what a PaaS is to people who only know the word "cloud", and what it can do for them; why they should be interested in this model for depl

[2016-07-15 22:13] mogul opened #86 "CDN route service"
What we're after: Applications can take advantage of platform-brokered CDN services

Benefits/why:

- Reduce costs for serving static content and assets
- Reduce ATO burden for tenants

Implementation notes:

- Generally, we're talking about AWS CloudFront, but avoid having tenants need to know much about that in case we have to change how we provide it in future; present the service to them gener

[2016-07-15 22:20] mogul commented on #86
Picking up from [the original issue](https://github.com/18F/cg-agent-q/issues/1#issuecomment-232108600), @jmcarp said:

[2016-07-15 23:30] brittag commented on #63
Improving or rethinking the 18F Before You Ship guide is part of this, since that guide needs to line up with these docs and be easy to follow for 18F staff.

We need to think about whether some of the existing content in that guide should be "owned"/maintained as part of the cloud.gov docs.

Multiple issues at https://github.com/18F/before-you-ship/issues would be relevant here. :D

[2016-07-15 23:33] brittag commented on #70
This also has a docs component - we should figure out whether (and how) the cloud.gov docs should be "bilingual" (teaching both the CF CLI and our Dashboard, rather than just the CF CLI), and how best to maintain those docs as the Dashboard shifts rapidly.

[2016-07-15 23:49] brittag commented on #70
I'd like us to adjust "What we're after", since measuring daily use of the Dashboard probably isn't the right core metric for this feature. A person might only need to do org/space/app management tasks occasionally, so measuring how often people use the Dashboard isn't a good measurement of how well it serves their needs. (Using the Dashboard less could even be a good sign - better training/docs m

[2016-07-15 23:52] msecret commented on #70
I agree with @brittag . I also see usability and amount of people using the dashboard as separate metrics. We might have a completely different set of work to do to get more people using the dashboard (making it more known, adding more functionality) and it doesn't all necessarily have to do with usability.

[2016-07-15 23:52] brittag commented on #67
This is related to https://github.com/18F/cg-product/issues/71 (notifications of product changes + incidents + general velocity) - prospective customers and current customers likely both want to hear about these things. Some of the same work would serve both.

[2016-07-16 00:02] brittag commented on #85
This could include:

* Revising the homepage of https://cloud.gov/ based on what we've learned so far about what people need (and getting into a habit of checking that content and iterating on it pretty frequently).
* Revising the homepage of https://docs.cloud.gov/ and the first page of the docs (https://docs.cloud.gov/intro/overview/what-is-cloudgov/).
* Making a two-page printable intro doc tha

[2016-07-16 00:03] brittag commented on #85
This also partially depends on https://github.com/18F/cg-product/issues/63 (Guidance for getting ATO with cloud.gov) - that guidance will be an important part of communicating our value proposition.

[2016-07-16 00:38] brittag commented on #71
We should also figure out if users want some sort of "proactive advice/help" output from us, such as a weekly friendly newsletter of recent useful support answers and docs updates (for now, this would be a summary of answers in #cloud-gov-support + email support + any updates to docs.cloud.gov).

[2016-07-16 01:16] thisisdano commented on #63
Perhaps eventually this will be tightly integrated into the onboarding of new users/projects and automated/facilitated through a dashboard interface.

At the most basic level, it's introducing the idea of ATO and the steps required to ATO (and a link to the Before You Ship docs) from Space creation (the establishment of the container for the provisional security boundary) or maybe at the more gene

[2016-07-16 01:40] brittag commented on #71
(I made a mockup of that kind of newsletter sort of accidentally while looking at synthesizing support requests - https://github.com/18F/cg-deck/issues/392#issuecomment-233101507)

[2016-07-16 03:41] mogul commented on #65
Summary of research to datefollows... **TL;DR:** We need to set up a SAML IDP supporting MFA and integrate it with UAA, then ensure we can provision users into it with reasonable UX.

@dlapiduz and I discussed hacking this functionality into Cloud Foundry's UAA ourselves as the fastest way to get from A to B, but decided that was too risky an option: Upstream UAA has not given any indication that

[2016-07-17 20:00] thisisdano commented on #63
So, I'd also be interested in making a graphic representation of the steps to ATO, with the ways that cloud.gov handles some of those steps (takes care of them altogether or makes them easier) — how any project on cloud.gov can take an idea and go from........ 🎉 A TO ATO. 🎉

[2016-07-17 20:24] afeld commented on #63
https://github.com/18F/before-you-ship/issues/41

[2016-07-18 13:56] sharms opened #87 "Ensure logs are captured during logsearch deploys"

[2016-07-18 13:56] sharms opened #88 "Enable service-broker docker services to migrate to other hosts"
Potential sub-stories
- [research:1d] Determine if Diego Persistence is a viable path (eg CF Slack, docs)
- Ensure we can manage Kubernetes in our environment (eg bosh release)
- Validate that we can properly launch/migrate services with persistence
- Help users migrate existing service instances from the existing broker to our new solution

[2016-07-18 13:57] sharms opened #89 "Monitor CF API through Riemann"

[2016-07-18 13:57] sharms opened #90 "Monitor docker deployments through Riemann"

[2016-07-18 13:58] sharms opened #91 "Enable encryption on all service plans"

[2016-07-18 13:58] sharms opened #92 "Monitor metrics.fr.cloud.gov through Riemann"

[2016-07-18 13:59] sharms opened #93 "Monitor *.cloud.gov"

[2016-07-18 13:59] sharms opened #94 "Monitor UAA"

[2016-07-18 14:00] sharms opened #95 "Monitor unpatched instances"

[2016-07-18 14:00] sharms opened #96 "Monitor for multiple stemcell versions in use"

[2016-07-18 14:01] sharms opened #97 "Monitor network ingress / egress"

[2016-07-18 14:02] sharms opened #98 "Raise alerts on ELB failures and errors"

[2016-07-18 14:02] sharms opened #99 "Raise alerts when load averages > 2x CPUs"

[2016-07-18 14:05] sharms opened #100 "Raise alert on UAA expired passwords"

[2016-07-18 14:05] sharms opened #101 "Offer a multi-instance Redis+Sentinel plan"
In order to ensure apps using our Redis service aren't disrupted when we updates k8s, we will provide a multi-instance Redis+Sentinel plan that uses k8s affinity controls to distribute pods across nodes.

[2016-07-18 14:08] sharms opened #102 "Raise alert if 'cf logs' fails to return recent logs"

[2016-07-18 14:09] jmcarp opened #103 "Monitor service broker apps in CF"

[2016-07-18 14:09] sharms opened #104 "Document consul troubleshooting steps"

[2016-07-18 14:09] sharms opened #105 "Document etcd troubleshooting steps"
Etcd is required to be up and running for both CloudFoundry and Kubernetes.  Occasionally during upgrades Etcd will lose consensus across the cluster.  In order to restore service in a timely fashion, we should document how to efficiently restore the cluster.

**Acceptance Criteria:**

As a operations team member, we can refer to documentation which describes:

- [ ] Restore etcd from a specific n

[2016-07-18 14:19] sharms opened #106 "Raise alerts on RDS CPU contention"
* [x] Send RDS CloudWatch metrics to Riemann
* [x] Alert to PagerDuty on CPU spikes

[2016-07-18 14:19] sharms opened #107 "Raise alerts on Concourse worker failures"

[2016-07-18 15:04] madhujoshi opened #108 "Staging / pre-prod environment"
I am sure this topic was probably discussed, but wanted to find out if there's a staging / pre-prod environment new users can experiment with to gain familiarity with the setup?  This gives the ability to test new issues/ PRs and document the steps that were taken so that the prod changes would go much smoother.

[2016-07-18 16:08] jmcarp commented on #106
Options:
* https://github.com/riemann/riemann-tools/blob/master/tools/riemann-aws/bin/riemann-aws-rds-status
* CloudWatch alert -> SNS -> PagerDuty

[2016-07-18 17:23] mogul commented on #62
We'll review the work done to date here in the course of grooming 18f/cg-product#63

[2016-07-18 17:23] #62 closed

[2016-07-18 17:55] berndverst commented on #67
This is where the following tasks (currently assigned to me) come in.

CRM (for tracking leads, IAA status, integration status, etc)
https://github.com/18F/cg-skyporter/issues/1

Reaching out to all Leads who completed our form.
https://github.com/18F/cg-skyporter/issues/2

[2016-07-18 17:59] afeld commented on #54
We decided to punt on this as part of https://github.com/18F/cg-atlas/issues/41. Closing for now.

[2016-07-18 17:59] #54 closed

[2016-07-18 18:10] berndverst commented on #74
Just adding a note to watch out for the statuspage.io pricing tears -- there are caps on users.
https://www.statuspage.io/pricing

[2016-07-18 18:28] thisisdano commented on #70
Big usability themes for me right now are 1) navigation; 2) logs; and 3) actionability — but I'd like to get more info on current dashboard usage and needs.

The two big current use cases we've seen so far: 1) monitoring (checking the setup, getting a sense of normal activity); 2) troubleshooting. We may see additional use cases as we broaden the audience, and if we develop any ATO integration.

D

[2016-07-18 20:05] mogul opened #109 "Increase reliability of services"
What we're after: Services go down less, and we know where they're weak

Benefits/why:
- Improve outage rate
- Avoid the team drowning in fire alarms

[2016-07-18 21:00] sushiandbeer opened #110 "[3d] Research how to schedule recurring tasks"
As an SRE, I need to research how end-users can schedule recurring tasks

[2016-07-18 21:07] jmcarp commented on #110
Same as https://github.com/18F/cg-docs/issues/234. Looks like we already have https://github.com/18F/cg-cron and https://github.com/18F/cf-go-cron, as well as a bunch of examples from the 18F dev team.

[2016-07-19 00:38] msecret opened #111 "Show billing in the dashboard"
As a project manager I want to see the services and costs associated with my app so that I can better plan my budget.

[2016-07-19 00:40] msecret opened #112 "Link app configuration with manifest.yml"
As a developer I want to be confident that I understand what my manifest.yml specifies and what my options are.

[2016-07-19 00:41] msecret opened #113 "Show and edit env vars on app page"
As a cloud.gov developer I want to see global and environmental variables associated with my app so I can troubleshoot problem.

[2016-07-19 00:42] msecret opened #114 "Activity log for an app"
As a cloud.gov developer I want to be able to see the most recent activity on my instance so that I can diagnose problems.

[2016-07-19 00:42] msecret opened #115 "Make creating and binding a service easier"
As a cloud.gov developer I want to easily be able to add a service to my app so that I can provide more functionality to my users.

[2016-07-19 00:43] msecret opened #116 "Allow modification of instances and resources"
As a cloud.gov developer I want to manage the scale of my app so I can ensure desired performance.

As a cloud.gov developer, I want to be able to manage the services (memory allocation, etc) associated with my app to optimize performance.

[2016-07-19 00:44] msecret commented on #116
I added these two murally notes to the same issue because I think they make sense together.

[2016-07-19 00:44] msecret opened #117 "Improve navigation"
As a cloud.gov developer, I want to navigate a particular org/space/app, so that I can be sure I'm looking a the right one.

[2016-07-19 00:46] #117 closed

[2016-07-19 00:46] msecret opened #118 "Improve dashboard navigation"
As a cloud.gov developer, I want to navigate a particular org/space/app, so that I can be sure I'm looking a the right one.

[2016-07-19 00:47] #111 closed

[2016-07-19 00:47] msecret opened #119 "Show billing in the dashboard"
As a project manager I want to see the services and costs associated with my app so that I can better plan my budget.

[2016-07-19 01:21] brittag opened #120 "Existing users are invited to subscribe to statuspage.io for outage updates"
In order for existing users to promptly get notified about cloud.gov outages, we should explicitly invite them to subscribe to https://cloudgov.statuspage.io/ updates (if they aren't already subscribers).

We already have an issue for auto-subscribing new users to statuspage.io (https://github.com/18F/cg-product/issues/74), but we should make sure our existing users know about this too.

[2016-07-19 15:50] rogeruiz opened #121 "As a project manager for a new organization, I want to easily set up users, so there should be a way for me to do this"
Project managers should have the knowledge to create roles for their team using the cloud.gov dashboard or `cf` command-line tools.

This is essentially a restructuring of the content here under [Orgs, Spaces, Roles, and Permissions](https://docs.cloudfoundry.org/concepts/roles.html#roles) in the CloudFoundry documentation.

[2016-07-19 15:51] rogeruiz opened #122 "As a new user, I want to see some clear documentation on architecture so that I can understand how cloud.gov works and how orgs, spaces, apps work"

[2016-07-19 15:51] rogeruiz opened #123 "Step by step guide from beginning to deploying first app"

[2016-07-19 15:51] rogeruiz opened #124 "As a new user, I want to know the health of my application so that I can fix problems as they arise"

[2016-07-19 15:52] rogeruiz opened #125 "Instructions to use Cloud Foundry CLI"
..so I can interact with cloud.gov on an API level rather than using a UI

[2016-07-19 15:53] rogeruiz opened #126 "As a new developer who is invited to join an existing org, I'd like to easily understand what the platform allows me to do and how to troubleshoot"

[2016-07-19 15:53] rogeruiz opened #127 "Create expressive empty states to indicate dashboard features"
We want expressive empty states that explain the purpose of dashboard areas and facilitate next steps for new users.

Notes:
 - Many panels have possible empty states
 - Design generic empty state
 - Design additional specific states as needed

Would need to identify elements that would require such a state. For each, outline:
 - What it would say
 - What user should be able to do from this state

[2016-07-19 17:10] berndverst opened #128 "Research & track reasons for customers not converting"
In order to obtain actionable data for improving our documentation, process, and product roadmap we need to determine why customers are failing to convert.

We will obtain this information through #131 and possibly our website analytics. We will device a mechanism for tracking this data over time.

[2016-07-19 17:12] berndverst opened #129 "Allow customers and users to opt into technical & business newsletters"
We will likely have two distinct newsletters, one focussed on business / acquisition / compliance / major features at a high level (target is the customer / CIO) and one focussed on technical items ( best practices, new features announcements and how to use / implement them, breaking change announcements).

We want to allow any person to opt into either of these newsletters.

[2016-07-19 17:13] berndverst opened #130 "Explain Interagency Agreement Process in Docs"
We believe [to be confirmed] that lack of clarity and transparency of the IAA process is reducing the number of potential conversions.

We will create better documentation to ensure the IAA process with respect to Cloud.gov is clear.

[2016-07-19 17:13] berndverst opened #131 "Reach out to existing leads"
See https://github.com/18F/cg-skyporter/issues/2 for details.

We have a big list of potential leads who completed our contact form. We should reach out to them.

[2016-07-19 17:14] berndverst opened #132 "Deploy a CRM for tracking customer status"
See https://github.com/18F/cg-skyporter/issues/1 for details.

[2016-07-19 17:15] berndverst opened #133 "Improve lead capture form to account for different functions / personas"
In order to distinguish between customers (CIO, etc) and users (devs) so that we can address these different audiences appropriately in our response we will capture the job function of our leads.

Eventually we will also be able to automate some responses with relevant content.

[2016-07-19 17:15] berndverst opened #134 "Improve our contact forms / help info pages to be more informative"
Our help pages and contact forms are not very clear about how to contact us, or whom to contact for what type of inquiry.

This is to ensure customers and users can easily contact us for help or questions.

[2016-07-19 17:15] berndverst opened #135 "[research] Why do people request more information on cloud.gov"
We will review recent inquiries and speak to leads to identify patterns that will allow us to improve our content / documentation.

[2016-07-19 17:23] berndverst commented on #132
This is really https://github.com/18F/cg-skyporter/issues/1

[2016-07-19 17:26] mogul opened #136 "Document and expose CDN service"

[2016-07-19 17:35] berndverst commented on #130
Perhaps we can eventually consider tracking the IAA process somehow and send email notifications for the next steps. Think our _checklistomania_ app combined with a traditional email marketing funnel.

[2016-07-19 17:47] berndverst commented on #134
@brittag can you update the description if I am missing something?

[2016-07-19 18:50] LinuxBozo opened #137 "Existing local users are migrated to MFA"

[2016-07-19 18:51] LinuxBozo opened #138 "Require MFA for idp.cloud.gov"
In order to ensure all cloud.gov logins make use of MFA, we want any accounts provisioned through our fallback IDP to require MFA to be setup and validated before login

**Acceptance Criteria:**
- [x] Scenario: Invitations for unknown domains are prompted to set up MFA
  GIVEN an invite link is issued for an "unknown" domain
  WHEN the invite link is clicked
  AND the user sets their password
  TH

[2016-07-19 19:05] afeld opened #139 "As a developer, I would like to be able to determine where I am at in the ATO process."

[2016-07-19 19:05] afeld opened #140 "As a developer, I would like to know where to start to get my ATO completed."

[2016-07-19 19:06] afeld opened #141 "As a CIO, I would like to receive information about the current ATO status of the applications in my organization."

[2016-07-19 19:07] afeld opened #142 "As a tenant, I would like to know which controls i'm responsible for"

[2016-07-19 19:07] afeld opened #143 "As the cloud.gov team, we want to know how much of Before You Ship is reusable"

[2016-07-19 19:08] afeld opened #144 "As a developer, I want to know what an ATO is"

[2016-07-19 19:08] afeld opened #145 "As a developer, I would like to know the overall workflow of the ATO process."

[2016-07-19 19:08] afeld opened #146 "As a developer, I would like to be notified when my compliance is outside of the ATO."

[2016-07-19 19:08] afeld opened #147 "As a product manager, I want to know if/how to leverage Masonry for my ATO."

[2016-07-19 19:08] afeld opened #148 "As a developer, I would like to have a clear example with expectations of what is expected for ATO."

[2016-07-21 16:53] jmcarp commented on #136
Done in https://github.com/18F/cg-docs/pull/338

[2016-07-21 23:15] #26 closed

[2016-07-21 23:20] brittag commented on #134
Here's an existing issue with more detail: https://github.com/18F/cg-landing/issues/66

[2016-07-22 15:10] jmcarp commented on #106
<img width="924" alt="screen shot 2016-07-21 at 6 58 11 pm" src="https://cloud.githubusercontent.com/assets/1633460/17061509/d9c6d65e-4ffc-11e6-8143-568611f1f7b2.png">
<img width="1257" alt="screen shot 2016-07-21 at 6 57 50 pm" src="https://cloud.githubusercontent.com/assets/1633460/17061516/e044fdee-4ffc-11e6-9b2e-ccca5756a0d1.png">

[2016-07-22 16:49] sharms commented on #106
Verified

[2016-07-22 16:49] #106 closed

[2016-07-22 16:49] #136 closed

[2016-07-23 23:09] mogul commented on #52
One of the points raised in a discussion with Pivotal is that a user being able to push his own manifests directly to BOSH is a security hazard. So we need to make sure users can't supply their own manifests to the broker, but rather can only fill in parameters for an existing template. In other words, the broker-exposed manifests/plans need to be tightly controlled from the BOSH side rather than

[2016-07-23 23:11] mogul commented on #52
I'm guessing not due to the presence of BOSH username/password parameters in the `config.yml`... So going to `Icebox` this deployment issue until we refactor to remove the hazard.

[2016-07-23 23:14] jmcarp commented on #52
The broker prototype doesn't allow users to upload arbitrary manifests--we would provide templates, like https://github.com/s-matyukevich/bosh-broker/blob/master/templates/redis.yml.tmpl, and fill in parameters from plans, which we also control: https://github.com/s-matyukevich/bosh-broker#broker-configuration.

[2016-07-25 16:51] mogul commented on #55
Adam says we're waiting on some documentation here.

[2016-07-25 22:16] nikzei opened #152 "Updating Delivery Process page to reflect new practices"
Our [delivery page ](https://github.com/18F/cg-product/blob/master/DeliveryProcess.md) reflects our old theme-based team organization.
Once we have processes in place for our new squad-based organization, let's update so that this is clear for us as well as new folks who onboard in the next quarter.

[2016-07-25 23:17] mogul opened #153 "Create cloud.gov product briefing for FedRAMP JAB"
In order to acquaint the FedRAMP JAB Technical Reviewers with cloud.gov, we want make a product briefing presentation that includes a product overview, demonstrates how it's used, and walks at a high-level through the technical architecture.

Suggested outline from the FedRAMP PMO:

(Refer to the comment about [the upstream sources of diagrams in the SSP](https://github.com/18F/cg-compliance/issue

[2016-07-25 23:31] mogul commented on #153
The draft timetable for our sections of the two-day meeting:

[2016-07-25 23:32] mogul commented on #153
Also from FedRAMP PMO:

[2016-07-26 04:02] s-matyukevich commented on #55
I was able to deploy cloud gov stack to my corporate AWS account (only staging stack was deployed, because we have AWS limits.)
For now I can't precisely answer on the questions in the check list. I need clean AWS account without restrictions and access to current cloud gov installation in order to do this.
As a result of my job I created a doc, where I collect all issues, that slows down my work.

[2016-07-26 17:09] mogul commented on #55
ACs not strictly met, but we learned about what we wanted to from this one, and will generate backlog/icebox'd stories based on the doc.

[2016-07-26 17:09] #55 closed

[2016-07-26 17:35] mogul commented on #36
No need to complete this.

[2016-07-26 17:35] #36 closed

[2016-07-26 17:38] mogul commented on #17
Just waiting on the upstream release now before we can push this forward again.

[2016-07-26 17:48] #86 closed

[2016-07-26 18:30] mogul commented on #153
@dlapiduz: Can we plan for our "demo" portion to include rolling out a change through GitHub PR+merge, having it flow through Concourse staging, then doing the merge to master and kicking off the build there?

[2016-07-26 18:31] mogul commented on #153
(The demo will also include actually using cloud.gov to deploy an app, but I think for the JAB TR folks, the deploy-a-change part will be the more compelling piece.)

[2016-07-26 20:03] mogul commented on #65
Note that we will probably still want to look for a soft-token/out-of-band MFA option to add in the future to eliminate the cost+delay which we're handing to users by starting with FIDO U2F. In which case we need to evaluate which solutions exist for our chosen IDP.

[2016-07-26 22:59] nikzei commented on #21
can we close this @juliaelman?

[2016-07-26 23:00] nikzei commented on #28
can we close this, @thisisdano?

[2016-07-27 00:22] juliaelman commented on #21
@nikzei yup - thanks for checking in!

[2016-07-27 00:22] #21 closed

[2016-07-27 15:09] mogul commented on #153
[Draft version](https://docs.google.com/presentation/d/1w-9Zpa53XWPLp4uF26H0qdkTL4bw8X56oqBBe0hfP1s/edit#slide=id.g15f96bca63_0_4242) available for feedback now... Please leave comments on slides.

cc @brittag @sharms @LinuxBozo

[2016-07-27 15:14] mogul commented on #153
@berndverst is going to handle the app deployment demo. I thought a good demo for the platform deployment demo might be scaling the number of DEAs. What do you think?

[2016-07-27 18:47] #51 closed

[2016-07-27 20:54] rogeruiz opened #154 "Add documentation around using cg-cron and cf-go-cron"

[2016-07-27 20:55] sushiandbeer opened #155 "Create AWS resources for staging Diego in GovCloud"

[2016-07-27 20:56] sushiandbeer opened #156 "Documentation for Diego"
- [x] Create end-user documentation
- [x] Create operator documentation

[2016-07-27 20:56] sushiandbeer opened #157 "Create operator documentation for Diego"

[2016-07-27 20:56] sushiandbeer opened #158 "Audit Diego deployment"
## Acceptance Criteria

- [ ] Confirm each VM is running the required add-ons:

[code]

[2016-07-27 20:57] sushiandbeer opened #159 "Create GovCloud staging Diego manifest"

[2016-07-27 20:57] sushiandbeer opened #160 "Create GovCloud production Diego manifest"

[2016-07-27 20:58] sushiandbeer opened #161 "Review all Diego options/properties"
Review all properties in `diego-release/jobs/*/spec` and update accordingly.

[2016-07-27 20:58] sushiandbeer opened #162 "Run benchmarks against Diego"

[2016-07-27 20:58] sushiandbeer opened #163 "Add Diego-specific properties to CF for integration"
Add environment and deployment-specific properties into secrets.

[2016-07-27 21:01] sushiandbeer opened #164 "Research garden vs runc for Diego"

[2016-07-27 21:07] sushiandbeer opened #165 "Update GovCloud cf-staging.yml secrets file with Diego integration properties"

[2016-07-27 21:07] sushiandbeer opened #166 "Update GovCloud cf.yml secrets file with Diego integration properties"

[2016-07-27 21:08] sushiandbeer opened #167 "Create GovCloud diego-staging.yml secrets file with Diego properties"

[2016-07-27 21:08] sushiandbeer opened #168 "Create GovCloud diego.yml secrets file with Diego properties"

[2016-07-27 21:10] sushiandbeer opened #169 "Enable monitoring for Diego staging"

[2016-07-27 21:10] sushiandbeer opened #170 "Enable monitoring for Diego production"

[2016-07-27 21:11] sushiandbeer opened #171 "Test application migration from DEA to Diego"

[2016-07-27 21:11] sushiandbeer opened #172 "Test application migration from Diego to DEA"

[2016-07-27 21:12] sushiandbeer opened #173 "Create AWS resources for production Diego in GovCloud"
@frsfx Is it possible to do this Monday morning?

[2016-07-27 21:13] sushiandbeer opened #174 "Document scaling strategy for Diego"

[2016-07-27 21:14] sushiandbeer opened #175 "Define interesting monitoring metrics for Diego"

[2016-07-27 21:14] sushiandbeer opened #176 "Define interesting log messages for Diego"
As a platform operator, I expect to be able to observe platform and app logs and define "interesting" events/messages over time.  The counts of interesting events/messages could be used as metrics for insight into platform usage.  Also, the occurrence of interesting events/messages may be cause to trigger alerts for subsequent action.

[2016-07-27 21:34] sushiandbeer commented on #155
Completed by @frsfx and @LinuxBozo

[2016-07-27 21:34] #155 closed

[2016-07-27 21:35] mogul opened #177 "[2d] Research existing CF deployment migration options"
In order to understand how much responsibility must be put on cloud.gov users for the migration to GovCloud, we want to spend up to 2 days researching existing tools that could make things easier

**Acceptance Criteria:**

- [ ] We know what's required to backup/restore the platform itself (for both this migration, and for contingency planning) See [Pivotal's docs on how they do it](https://docs.p

[2016-07-27 21:37] sushiandbeer commented on #165
Related PRs:

https://github.com/18F/cg-deploy-cf/pull/104
https://github.com/18F/cg-deploy-cf/pull/105
https://github.com/18F/cg-deploy-cf/pull/106

[2016-07-27 21:37] #165 closed

[2016-07-27 21:38] sushiandbeer opened #178 "Demo Diego"

[2016-07-27 23:43] sushiandbeer opened #179 "Create a sample Diego secrets file"

[2016-07-28 15:00] rogeruiz commented on #22
Let's maintain feature parity across the two environments for cloud.gov, (e/w and govcloud).

[2016-07-28 15:00] rogeruiz commented on #69
Let's maintain feature parity across the two environments for cloud.gov, (e/w and govcloud).

[2016-07-28 16:03] mogul commented on #153
Took a bunch of feedback from Britta and made updates. Going to consider this done now.

[2016-07-28 16:03] #153 closed

[2016-07-28 16:14] s-matyukevich commented on #164
@sushiandbeer

The only restriction that I can found is that runc and guardian requires kernel version 3.19+ (but seems like Ubuntu trusty was already updated to 4.2, so this should not be a problem)

Another interesting thing, is that PCF still use garden. https://docs.pivotal.io/pivotalcf/1-7/pcf-release-notes/p1-v1.7/runtime_rn_1_7.html

So what we can do is to wait until runc will be adopted i

[2016-07-28 18:28] thisisdano commented on #28
eh, yeah. sure.

[2016-07-28 18:28] #28 closed

[2016-07-28 23:18] s-matyukevich opened #180 "Trigger acceptance tests after each cf deploy"

[2016-07-28 23:21] s-matyukevich commented on #180
Currently smoke tests and acceptance tests are triggered automatically if one of the releases, stemcell or manifest were changed.
This pull request https://github.com/18F/cg-deploy-cf/pull/107  allows to trigger tests after each deployment, no matter whether anything was changed or not

@sharms  is that something that you want me to do?

[2016-07-29 19:59] sushiandbeer opened #182 "Automate ELB access server instance registration"

[2016-07-29 21:20] sushiandbeer opened #183 "Verify Diego/CF deployment"
## Acceptance Criteria

- [x] Ensure smoke tests use the Diego backend and succeed
- [x] Ensure the acceptance tests use the Diego backend and succeed 🚫 👀  #202
- [x] Review all platform logs for errors ⛔ 👀 18F/cg-atlas#111
    - [x] On all CF and Diego hosts, review all logs in /var/vcap/sys/log
    - [x] Ensure all component logs are available in the ELK deployment
- [x] Deploy a sample app, ver

[2016-07-30 16:08] sushiandbeer commented on #163
Done in govcloud staging.

[2016-07-30 16:09] sushiandbeer commented on #166
Done in govcloud staging

[2016-07-30 16:18] sushiandbeer commented on #168
Done in govcloud staging.  Needs to be refined/cleaned up.

[2016-07-31 23:07] mogul commented on #22
Thanks for breaking this down so thoroughly! Can you put all of the sub-issues in `Icebox` or `Backlog` as appropriate for the work to be done soon? `New issues` overfloweth...

[2016-08-01 00:06] s-matyukevich commented on #107
@sharms  can you, please, provide more details how you are going to achieve this?

From what I was able to figure out we can:
1. Setup some job, that will be responsible for forwarding all concourse logs  to influxdb, and then  write a config file for Riemann that will raise an alert, in case if it will see a record, saying that some job fails.
2. Do concourse log filtering on concourse VM and use

[2016-08-01 00:32] s-matyukevich opened #185 "Aggregate all logs, generated by bosh jobs and send them to ELK"
For Cloud Foundry components, all logs are aggregated and available through firehouse. But for other bosh jobs (concourse, snort, riemann, etc. ) seems like the only way to access their logs is to ssh to bosh VM, where particular component is installed.
What we can do is to create special bosh job, that will be responsible for aggregating logs from all other components and send them to ELK.

is th

[2016-08-01 01:53] mogul commented on #185
I think @LinuxBozo had concerns about sending those to the same ELK instance, but I'm not sure if those were security, stability, or scalability concerns! Maybe something to look at once we have hammered on our ELK cluster (both volume and chaos-monkey) and know it can take the punishment?

[2016-08-01 02:20] dlapiduz commented on #185
@mogul I think since @sharms fixed the heap memory thing ES is running on very low revs... I'd love to see all the logs aggregated in ELK!

[2016-08-01 14:32] frsfx commented on #173
Working on TF scripts and pipeline to provision resources in Gov cloud production

[2016-08-01 14:47] rogeruiz commented on #158
Closed in light of #183

[2016-08-01 14:47] #158 closed

[2016-08-01 14:52] sushiandbeer commented on #183
#158 was to confirm all add-ons existed on the Diego components.  I referenced it in the AC above.

[2016-08-01 15:20] sushiandbeer commented on #178
Closed in light of the epic #22, moved into acceptance criteria

[2016-08-01 15:20] #178 closed

[2016-08-01 15:22] rogeruiz commented on #171
Closed since we're not offering DEA side-by-side with Diego on `govcloud`. :us: :cloud:

[2016-08-01 15:22] #171 closed

[2016-08-01 15:22] rogeruiz commented on #172
Closed since we're not offering DEA side-by-side with Diego on `govcloud`. :us: :cloud:

[2016-08-01 15:22] #172 closed

[2016-08-01 15:24] sushiandbeer commented on #182
This may mean to read terraform output and programmatically add the `access` VMs to the ELB and document the solution.

[2016-08-01 15:30] sushiandbeer commented on #110
It appears we have a solution in with cg-cron and cf-go-cron and are closing this in favor of #154

[2016-08-01 15:30] #110 closed

[2016-08-01 15:31] sushiandbeer commented on #162
This is related to #174.

[2016-08-01 15:33] #154 closed

[2016-08-01 15:36] sushiandbeer commented on #157
Merged into #156

[2016-08-01 15:36] #157 closed

[2016-08-01 15:42] sushiandbeer commented on #159
In `cg-deploy-diego/generate.sh`, we add-in 18F-specific properties and releases with spiff after calling the standard `diego-release/scripts/generate-deployment-manifest`

[2016-08-01 15:42] #159 closed

[2016-08-01 15:44] sushiandbeer commented on #168
We add deployment and environment-specific properties/credentials in `diego-staging.yml` in s3.

[2016-08-01 15:44] #168 closed

[2016-08-01 15:44] #179 closed

[2016-08-01 16:06] #163 closed

[2016-08-01 16:09] sushiandbeer opened #186 "Audit CF production and staging secrets"
When working on the Diego deployment (#22), we discovered the tripwire properties were missing in cf.yml (govcloud production).  We should review the secrets files and ensure all props exist and are correct.

[2016-08-01 19:33] sushiandbeer opened #187 "Add DNS CNAMEs for Diego SSH Proxy ELBs"
- [x] Staging
- [x] Production

[2016-08-01 19:36] sushiandbeer commented on #187
@LinuxBozo created the CNAME for staging last week:

ssh.fr-stage.cloud.gov -> staging-diego-proxy-1166959673.us-gov-west-1.elb.amazonaws.com

[2016-08-01 19:50] sushiandbeer commented on #187
Thanks to @LinuxBozo for creating the prod CNAME too.

[2016-08-01 19:50] #187 closed

[2016-08-01 20:12] #167 closed

[2016-08-01 20:13] sushiandbeer commented on #173
Done with https://github.com/18F/cg-provision/pull/59 and triggered the pipeline.

[2016-08-01 20:13] #173 closed

[2016-08-01 20:48] sushiandbeer opened #188 "Run Diego Inigo and Vizzini tests"
Run other Diego tests as noted at https://github.com/cloudfoundry/diego-design-notes

[2016-08-01 22:06] msecret opened #189 "Improve diagnostics available to dashboard users"
In order for dashboard users to be able to troubleshoot their applications, we need to provide more information to them about the current state of their application. This includes things such as:
* Making current state very clear
* Highlighting crash events
* Highlighting user events such as SSH logins, quota changes, etc
* ~~Enabling control over the current "scale" of the application~~
* Seeing

[2016-08-01 22:07] msecret opened #190 "diagnose"

[2016-08-01 22:07] #190 closed

[2016-08-01 22:08] msecret commented on #113
Rolling this into #189

[2016-08-01 22:08] #113 closed

[2016-08-01 22:09] msecret opened #191 "Provide tools for fixing a broken app"
In order for a developer to fix a broken app that they diagnosed, there should be tools to update app parameters.

[2016-08-01 22:15] msecret commented on #116
Moving this to #191

[2016-08-01 22:15] #116 closed

[2016-08-01 22:19] msecret opened #192 "Notify users when things change"
In order for a developer to know when an app breaks or changes, there should be notifications for such events.

[2016-08-01 22:22] msecret opened #193 "Reduce dashboard bugs related to data loading"
In order for a dashboard user to understand when their data is loading vs when there is no data AND to have consistent data any way a page is loaded, there should be no bugs on data loading for existing features.

[2016-08-01 22:23] msecret commented on #114
Moving this to #189

[2016-08-01 22:23] #114 closed

[2016-08-01 22:24] msecret opened #194 "Search for docs"
In order for a cloud.gov developer to easily find documentation they're looking for, there should be a search interface for the docs.cloud.gov site.

From previous issue (now closed):

Visitors can search cloud.gov content from the global navigation

Benefits
- Help users find existing documentation when it's not obvious to them how to navigate toward what they're looking for
- See the task list f

[2016-08-01 22:28] msecret opened #195 "Compliance masonry front end interface"
In order for a cloud.gov user to have easy access to compliance masonry, there should be a web UI for it.

[2016-08-01 22:58] msecret opened #197 "Improve cloud.gov style ease of use"
In order for new front end developers/designers to easily onboard onto the cloud.gov project, it should be easy to use the cloud.gov brand and style.

[2016-08-02 00:52] berndverst opened #199 "Advance breaking change notifications"
In order to minimize application downtime or impact on functionality, as a user, I want to have advance notification for upcoming breaking changes that without my intervention would affect my application uptime.

[2016-08-02 00:58] berndverst commented on #199
Depending on the complexity of the work required by the user, advance notification of at least 30-90 days for breaking changes is very standard. For major architectural changes, this may even be 6-12 months.

Enterprise customers typically expect a breaking change policy with such an advance lead time.

Note:
On the engineering side we need a better change management and sign-off process to facili

[2016-08-02 01:47] brittag opened #201 "Solidify a training and update process for our Contingency Plan"
In order to take good care of cloud.gov (and fulfill our compliance requirements), we as the cloud.gov team should collaborate on identifying what we want to see in our Contingency Plan, reworking the [current version](https://docs.cloud.gov/ops/contingency-plan/) to fit our real needs, and training ourselves on it. We should also decide on a process for regularly reviewing and updating this plan

[2016-08-02 01:52] brittag commented on #199
Noting that we have some relevant documentation for announcing advance notice of downtime: https://docs.cloud.gov/ops/making-announcements/

We also have a draft backlog for an upcoming breaking change (GovCloud) at https://github.com/18F/cg-atlas/issues/59 - which is helpful since we can build lightweight general guidelines (such as a checklist template) based on a real example that we're handlin

[2016-08-03 13:46] #166 closed

[2016-08-03 13:47] #160 closed

[2016-08-03 13:48] sushiandbeer opened #202 "Investigate Cloud Foundry Acceptance Test failures"

[2016-08-03 13:52] sushiandbeer commented on #202
The `cf copy-source` test is failing, apparently due to the S3 bucket policy that requires the `x-amz-server-side-encryption` header.  A fog library trace reveals the header is not being supplied when doing the `x-amz-copy-source` operation.

[2016-08-03 18:33] dlapiduz commented on #164
@s-matyukevich @sushiandbeer so basically we are ready to upgrade whenever we want? Can garden droplets run in runc or does it have to be restaged?

[2016-08-03 23:35] nikzei opened #203 "Ramp up Andrew on cloud.gov team"
In order to get Andrew productively contributing to the cloud.gov team, Nikki should help Andrew complete a prescribed set of tasks that will bring them up to speed.

# Directions:
**Andrew and Nikki:** Try to go through your checklists in order.
**Nikki:** If you can’t complete any of the items on your checklist personally, _you are responsible for ensuring that an appropriate person does it_.

#

[2016-08-03 23:41] nikzei commented on #203
@suprenant, here's you're personal checklist for when you go through onboarding materials.

[2016-08-04 15:12] suprenant commented on #203
@nikzei very helpful, thanks! Will work through these and mark here when they're done

[2016-08-04 18:07] afeld opened #204 "Two-page printable intro to cloud.gov"
In order to quickly understand the basics of cloud.gov, CIOs want a one-page fact sheet / sell sheet summarizing what cloud.gov is and can do for their agency, and how they can make use of it.

## Acceptance criteria

* [x] There is a one-page PDF with high-level information about cloud.gov
* [x] The reader understands how pricing works for cloud.gov

Working copy:
https://docs.google.com/document

[2016-08-04 18:12] afeld opened #205 "As a cloud.gov team member, I want to understand the user journey for agencies"
We had an interesting discussion about Squad 3 about what it takes from zero to an agency using cloud.gov, and it was clear that we didn't all fully understand the things and types of people that goes into it. Would be useful as part of team documentation.

[2016-08-04 19:26] sushiandbeer commented on #202
@jmcarp issued this PR for the fix:  https://github.com/cloudfoundry/cloud_controller_ng/pull/658

[2016-08-04 22:26] sushiandbeer opened #206 "Cleanup unused bosh releases"
As an SRE, I should periodically remove unused/old releases uploaded to the bosh directors.

[2016-08-05 11:50] s-matyukevich commented on #185
I have created a BOSH release that can do this task https://github.com/s-matyukevich/bosh-log-forwarder-boshrelease

[2016-08-05 17:54] jeremiak opened #207 "As a user of the platform, I want to see the cloud.gov logo in all 2FA related views"
When I use GSA SecureAuth and request an email registration code, the old "S" image appears where the cloud.gov logo should.

<img width="824" alt="screen shot 2016-08-05 at 1 46 14 pm" src="https://cloud.githubusercontent.com/assets/780941/17445710/0c3278d8-5b14-11e6-9dae-ac33db9ceec9.png">

[2016-08-05 18:13] nikzei opened #208 "As members of Skyporter and Liberator, we want to agree on the best way to make website changes"
Our new Skyporter team, which is business and customer focused, wants to make changes to public facing materials including the website - to ensure that our communication with customers is clear, compelling. Skyporter is new and Liberator has been responsible for designing these materials. Let's all get on the same page and figure out how we want to work on this together.

[2016-08-05 18:16] nikzei commented on #208
I'll put something on the calendar - most likely for the week of 8/15.

[2016-08-05 20:20] sushiandbeer commented on #182
elbs added to access_z? cloud_properties in secrets

[2016-08-05 20:20] #182 closed

[2016-08-05 21:01] jbarnicle opened #209 "Communicate information about move to GovCloud to current cloud.gov tenants"
- [ ] Write comms about why we're doing this, what benefits they'll get, and what we'll do to help people move smoothly. Prompt for questions!

[2016-08-05 21:07] jbarnicle opened #210 "Auto-provision missing roles, spaces, orgs, quotas when a user shows up in GovCloud"
In order to help users replicate their quotas, orgs, spaces, and roles upon arriving in GovCloud, we want a bot that will notice their first login and recreate missing resources as needed.

**Acceptance Criteria**

Given a user who has never logged into GovCloud before WHEN the user logs into GovCloud for the first time

- The bot looks for missing space roles for the user and tries to recreate th

[2016-08-05 21:12] jbarnicle opened #211 "Provide tools / guidance for migrating stateful services"
Running `cf marketplace` currently shows these services available on cloud.gov

- aws-rds
- cdn-route
- elasticsearch-swarm-1.7.1
- rds
- redis28-swarm
- s3

We've discussed that elasticsearch has been billed as a 'use at your own risk' service - need to decide on what support we provide for migrating users using that service

For any additional services created by the user, it will be up to them

[2016-08-05 21:12] jbarnicle opened #212 "Provide guidance on DNS transition"
Need to provide support for transitioning DNS for current cloud.gov tenants when moving to GovCloud

Where DNS is currently hosted

DNS Managed by us
- update entry in Route 53 to point to new ELB
- aws does not support DNSSec (?)

Self-Managed DNS
- update dns to point to ELB
- [ ] Identify which tenants are managing DNS vs those managed by Route 53
- [ ] Create appropriate documentation for each

[2016-08-06 14:04] frsfx commented on #177
After researching SHIELD, it is definitely a viable solution as a self service for end users in backing up their stateful services from AWS East Region to AWS GovCloud.  End users will need to use an appropriate plugin to backup/restore their services.  As an example, end users download SHIELD CLI to connect to the backend SHIELD server and update their deployment manifest to perform a backup.  SH

[2016-08-08 16:00] nikzei opened #214 "Draft intro para on ATO for 2 pager geared toward CIOs"
We're drafting a two-pager on cloud.gov intended to help us explain and market the product to CIOs. Since CIOs ask about the ATO process, we'd like to include a paragraph in this two-pager covering general, basic information about the ATO process (ie what it is, perhaps the parts (controls) for which a tenant might be responsible if using cloud.gov, etc.).

Prioritized by squad 3 during 2nd sprint

[2016-08-08 16:12] #152 closed

[2016-08-08 16:47] s-matyukevich commented on #185
I've completed this task as much as I can for the moment (BOSH release works and I've created a concourse pipeline to build it)  I also have a few notes/questions

1. This bosh release can be extended to support  a lot of additional features (possibility to skip logs from some jobs, setup multi line patterns and provide custom parsing rules via bosh properties are a good candidates for such featur

[2016-08-08 16:51] #180 closed

[2016-08-08 16:53] rogeruiz commented on #185
This needs to be deployed to `GovCloud` concourse to verify the boshrelease.

[2016-08-08 16:58] rogeruiz commented on #183
We're encountering an issue with Metrics, moving the database fixes some of the issues but we're not seeing data coming from InfluxDB.

[2016-08-08 17:08] rogeruiz commented on #202
After talking with @jmcarp and @sushiandbeer, we're going to be looking into removing encryption on the bucket(s) via Terraform that are being used for the acceptance tests and then run the `encrypt-blobstore-boshrelease` to explicitly encrypt those specific buckets after the fact.

[2016-08-08 18:12] afeld commented on #214
Part of https://github.com/18F/cg-product/issues/204.

[2016-08-08 18:17] #214 closed

[2016-08-08 18:51] afeld commented on #204
Getting started here: https://docs.google.com/document/d/1WU25V2SN2t9pc-_GKwTqwv9d3oT6iPCubkHkEOHg_1U/edit

[2016-08-08 18:56] afeld commented on #144
Relevant:

* https://pages.18f.gov/before-you-ship/ato/
* https://github.com/18F/before-you-ship/issues/84

[2016-08-08 19:13] jmcarp commented on #202
And we're going to file an issue to restore the encryption check after the upstream issue is resolved.

[2016-08-08 20:06] brittag commented on #208
https://pages.18f.gov/lean-product-design/ seems useful for us to read before the meeting, as a documented process for product design used in some ways around 18F - to help us have a shared vocabulary.

[2016-08-09 00:26] brittag commented on #201
Noting that we'll also need to do this training within 10 days for anyone new on the team who will likely have an important contingency planning role - so we should have somebody on staff who can lead this training upon request.

[2016-08-09 00:27] brittag opened #216 "Figure out an overall internal team training plan/schedule"
In order for the cloud.gov team (which frequently has new members) to train ourselves on our important internal processes, we should have some reasonable plan for teaching required team trainings on a regular basis. It's a good idea for us, and it also helps us fulfill our compliance requirements. :D

I'm not totally sure how this responsibility would break down into specific tasks; for now I'm ju

[2016-08-09 18:23] rogeruiz commented on #183
Looks like this is currently blocked until we see a new stemcell that works with `garden-linux` for Diego.
https://lists.cloudfoundry.org/archives/list/cf-dev@lists.cloudfoundry.org/message/PQGMSHFBPDSKEFBI233JX3OETDILYJMS/

This issue came up because of the stemcell upgrade here
18F/cg-atlas#142

[2016-08-10 21:25] jbarnicle opened #217 "Update definition of done to include SSP documentation (when applicable)"
If story outcomes impact content of the SSP, the SSP Yaml documentation should be updated so that it reflects the current system state at all times.  We need to make sure this is clear in the definition of done.

[2016-08-10 23:57] msecret opened #218 "Show all errors on the dashboard"
In order for a user to know when a request failed, or something else went wrong, there should be  a consistent pattern for errors on the dashboard.

[2016-08-11 00:22] brittag commented on #217
Oh cool, glad this is filed! I made a suggestion in https://github.com/18F/cg-product/pull/219 for the Definition of Done to include simply filing an issue in cg-compliance. A thing I have in mind is that when an aspect of our system changes, there are sometimes multiple Compliance Things that need to be updated along with the YAML control statements - such as the system diagrams, the overall syst

[2016-08-11 03:59] jbarnicle commented on #217
@brittag That makes a lot of sense.  I think you might have a much better sense of what this should look like in the definition of done.  Do you want to take lead on this - I'm happy to review PRs, etc.  If you're swamped I can take a run at it as well - either is fine with me.

[2016-08-11 13:12] s-matyukevich opened #220 "Create universal CF dashboard for Grafana, that will contain all metrics, available from firehouse nozzle."
Actually, all logs and metrics, that CF provides, follow the (same structure)[https://github.com/cloudfoundry/sonde-go/blob/master/events/envelope.pb.go#L103]
We can utilize this fact, and create a universal dashboard for grafana, that will be able to display all available metrics. This should be a grafana (scripted dashboard)[http://docs.grafana.org/reference/scripting/ ]
When executed, this dash

[2016-08-11 13:15] s-matyukevich commented on #175
@sushiandbeer  all diego metrics have exactly the same structure as CF metrics. What I suggest to do is to create a common dashboard, that will be able to display all metrics from all cf and diego components.

https://github.com/18F/cg-product/issues/220

[2016-08-11 14:11] afeld opened #221 "As a user, I would like an easy way to enable auth for my application"
I thought we had this as an issue somewhere already, but I couldn't find it.

Before an application receives an ATO, a system must not be available to the public.

https://pages.18f.gov/before-you-ship/ato/types/#pre-authorization

Right now, applications need to add basic auth into their code, but it would be helpful to have a simple way to do it for applications that don't otherwise need auth. W

[2016-08-11 15:01] #202 closed

[2016-08-11 18:14] msecret opened #222 "Articulate all possible app states and show them"

[2016-08-11 18:14] msecret commented on #222
Issue moved to [18F/cg-dashboard #540](https://github.com/18F/cg-dashboard/issues/540) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-11 18:14] #222 closed

[2016-08-11 21:23] jeremiak opened #223 "Investigate how to get log and event data from logs.cloud.gov"

[2016-08-11 21:24] jeremiak commented on #223
Issue moved to [18F/cg-dashboard #541](https://github.com/18F/cg-dashboard/issues/541) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-11 21:24] #223 closed

[2016-08-11 22:10] brittag commented on #217
Thanks John! We can just discuss it over in that PR. It's a pretty simple change to the text; the trickier part will be helping each other remember to do this as a team.

[2016-08-12 10:36] mogul commented on #221
There's an upstream feature in Aha about this, and it's currently prioritized for PI8. There's more detail to the user needs than just what's represented here, based on recent meetings with agencies.

[2016-08-12 14:00] afeld commented on #221
Ah sorry, I searched before but missed it.

https://18f.aha.io/features/CGP-262

[2016-08-12 18:59] jbarnicle opened #224 "Mirror certs+ELBs in GovCloud"
SSL certs need to be pulled out of E / W and installed into GovCloud

- [ ] Identify certs / locate original certs
- Notify users of the cut-off date for ELB/cert change requests in the E/W environment
- Install certs in the GovCloud environment
- Setup ELBs in the GovCloud environment

[2016-08-16 17:19] sushiandbeer commented on #164
Garden-runC is not quite ready for production use according to  https://lists.cloudfoundry.org/archives/list/cf-dev@lists.cloudfoundry.org/message/PQGMSHFBPDSKEFBI233JX3OETDILYJMS/

I agree with @s-matyukevich and advise we transition to it when Pivotal does so in PCF.

[2016-08-16 18:04] brittag opened #225 "Figure out ways to trim services with GitHub write access to repositories"
In order for the cloud.gov team to proactively streamline our work and minimize potential surface area for issues with service providers, we should evaluate the services we use listed at ["Developer tools that support the cloud.gov system"](https://docs.google.com/document/d/1iOA_7c8iuhVLbmIdRbM6DgIwQh72JcnKxRxP0SOcTbs/edit#heading=h.s7ffywi4ic2t) and figure out where we can cut down that list, pa

[2016-08-16 18:13] nikzei commented on #209
Re your need to tap into learn more about users, let's connect you with @berndverst when you are ready. He'll be back from vacation in 2 weeks.

[2016-08-16 18:27] brittag commented on #209
Noting we also have an issue for this task at https://github.com/18F/cg-atlas/issues/59 with additional context / thinking through comms needs. 🎉

[2016-08-16 18:36] nikzei commented on #209
Thanks Britta! Should we consolidate (I'm asking folks working on this)?

[2016-08-16 19:07] brittag commented on #209
It looks like both of these issues aren't quite reflecting our current status or understanding of this task. I'd suggest that we close both of these and file new issues that reflect our current understanding of these tasks, with our standard user story + acceptance criteria format, so that this project is easier to track and delegate. :)

[2016-08-16 19:15] nikzei opened #226 "Revise SOW for cloud.gov IAAs (ongoing)"

[2016-08-17 16:34] jbarnicle opened #227 "Build API for transferring org assets across CF api endpoints"
Create an api layer to facilitate transferring assets across CF instances.

- orgs / spaces - except for sandbox
- non UAA authenticated users

[2016-08-17 19:10] mogul commented on #216
Add to the list:

- Technical and documentation content that should never appear in a public repository

[2016-08-17 20:16] mogul commented on #177
Given we've spent way more than 2 days researching this, have a ticking clock to get our GovCloud migration going, and little confidence that we're going to have this in a production-worthy and supportable mode for our tenants in a short amount of time, we're going to move forward on the GovCloud migration **without** Shield in the picture. (We'll consider Shield for future use in keeping a warm-s

[2016-08-17 20:17] #177 closed

[2016-08-17 20:19] mogul opened #228 "Help E/W (UAA local) users get their (MFA) access to GovCloud provisioned"
- explain what is going on (eg MFA setup process)
- send invitations at the time when we're ready for everyone to migrate

[2016-08-17 20:33] brittag opened #229 "List our tenants who will need to be migrated"
In order for our team to plan this migration, we need a sense of who we're working with and what they need.

We need an authoritative list of:

* Names of projects
* Key contact who will be responsible for coordinating the migration
* Whether they have technical labor funding+staffing for this or will need to scramble (a risk for lagging)
* All services the project is using

Acceptance criteria:

[2016-08-17 20:41] brittag opened #230 "Create plan for migrating service: aws-rds (and rds) - postgresql"
In order for our cloud.gov team to help our users migrate, we need to figure out how each service will get migrated.

Write down:
- This is what you have to do to migrate it now without tools

Evaluate:
- Can we expect users to do that?

Evaluate:
- Do we need to build a tool?

Acceptance criteria:
- [ ] We have a tenant-friendly written document somewhere that explains this.
- [ ] This document h

[2016-08-17 20:45] brittag opened #231 "Create plan for migrating service: aws-rds (and rds) - mysql"
In order for our cloud.gov team to help our users migrate, we need to figure out how each service will get migrated.

Write down:
- This is what you have to do to migrate it now without tools

Evaluate:
- Can we expect users to do that?

Evaluate:
- Do we need to build a tool?

Acceptance criteria:
- [ ] We have a tenant-friendly written document somewhere that explains this.
- [ ] This document h

[2016-08-17 20:46] brittag opened #232 "Create plan for migrating service: cdn-route"
In order for our cloud.gov team to help our users migrate, we need to figure out how each service will get migrated.

Write down:
* This is what you have to do to migrate it now without tools

Evaluate:
* Can we expect users to do that?

Evaluate:
* Do we need to build a tool?

Acceptance criteria:

- [ ] We have a tenant-friendly written document somewhere that explains this.
- [ ] This document

[2016-08-17 20:48] brittag opened #233 "Create plan for migrating service: elasticsearch"
In order for our cloud.gov team to help our users migrate, we need to figure out how each service will get migrated.

Write down:
- This is what you have to do to migrate it now without tools

Evaluate:
- Can we expect users to do that?

Evaluate:
- Do we need to build a tool?

Acceptance criteria:
- [ ] We have a tenant-friendly written document somewhere that explains this.
- [ ] This document h

[2016-08-17 20:51] brittag opened #234 "Create plan for migrating service: redis"
In order for our cloud.gov team to help our users migrate, we need to figure out how each service will get migrated.

Write down:
- This is what you have to do to migrate it now without tools

Evaluate:
- Can we expect users to do that?

Evaluate:
- Do we need to build a tool?

Acceptance criteria:
- [ ] We have a tenant-friendly written document somewhere that explains this.
- [ ] This document h

[2016-08-17 20:52] brittag opened #235 "Document process for migrating s3"
In order for our cloud.gov team to help our users migrate, we need to figure out how each service will get migrated.

Write down:
- This is what you have to do to migrate it now without tools

Evaluate:
- Can we expect users to do that?

Evaluate:
- Do we need to build a tool?

Acceptance criteria:
- [ ] We have a tenant-friendly written document somewhere that explains this.
- [ ] This document h

[2016-08-17 20:52] brittag commented on #211
I'm filing individual cards to reflect this need:

* aws-rds (and rds) - postgresql https://github.com/18F/cg-product/issues/230
* aws-rds (and rds) - mysql https://github.com/18F/cg-product/issues/231
* cdn-route - https://github.com/18F/cg-product/issues/232
* elasticsearch - https://github.com/18F/cg-product/issues/233
* redis - https://github.com/18F/cg-product/issues/234
* s3 - https://github

[2016-08-17 21:15] brittag commented on #229
Noting that we need to have both a name and an email address for the key contact.

[2016-08-17 21:37] mogul opened #236 "Auto-provision a _deployer account for every new space"
In order to ensure everyone using cloud.gov has a properly-scoped credential suitable for use in CI/CD systems with little overhead on admins, we want every new space to cause the creation of a _deployer account and communication of the credentials to appropriate people.

**Acceptance Criteria**

- [ ] Scenario: A properly scoped _deployer account is created whenever a new space appears in the sys

[2016-08-17 21:46] mogul opened #237 "Help users manage the transition to .fr.cloud.gov"
- DNS users get separate guidance; not in scope here!
- Explain the plan to the users (eg that eventually the .fr will be dropped from their URLs)
- help them replace their *.apps.cloud.gov apps in E/W with a tiny redirect app that we provide (eg looks at env var to figure out what the correct URL in the FR environment is, and then sends a 301 redirect to that location)
## Acceptance criteria

The

[2016-08-17 21:49] brittag opened #238 "Write initial broadcast message explaining E/W -> GovCloud migration"
In order for us to give maximum proactive notice to our users, we need to write a broadcast message to all our cloud.gov users informing them about our GovCloud migration plans.

Some of the important points to include (not limited to these):
* Why we're doing this.
* What the benefits will be to them.
* What our expected timeline is.
* Explain that they should reeeeally set up their manifests pro

[2016-08-17 21:52] brittag commented on #209
I filed https://github.com/18F/cg-product/issues/238 to replace this one with a more-specific story.

[2016-08-17 21:52] #209 closed

[2016-08-17 22:06] brittag opened #239 "Track which projects are lagging behind in E/W -> GovCloud transition"
In order for our E/W -> GovCloud migration to work smoothly, we need to figure out who's lagging (who hasn't completed their transition) and see if we need to help them or otherwise call in support.

At some point in the process, for each tenant we need to check signs like:
- Have they created a GovCloud account?
- Have we heard anything from them?

We can track this in our tenants list (https://g

[2016-08-17 22:06] brittag commented on #229
We will likely also use this spreadsheet to track their progress:

* Have they acknowledged receipt of the message that they will need to do this (https://github.com/18F/cg-product/issues/238)?
* Do they seem to be on track to transition on time or are they lagging behind and may need help (https://github.com/18F/cg-product/issues/239)?

[2016-08-18 04:51] afeld commented on #237
Hmmm, this seems like it will be a hard transition to make. What if we made domains `*.app.cloud.gov` for GovCloud?

[2016-08-18 16:53] nikzei commented on #226
Hoping to use a revision in upcoming FEC IAA for prototyping account - in conversations w FEC team about how they want to move forward.

[2016-08-18 16:56] nikzei opened #240 "Survey potential customers re: importance of cloud.gov having JAB authorization"
In order to understand the impact of a FedRAMP authorization delay on making our base of inquiries addressable via bizdev, we need to understand what prospective cloud.gov tenants need in terms of formal compliance assessments before they can start the IAA process and use cloud.gov for their work.

[2016-08-18 17:10] nikzei commented on #208
Takeaways from our meeting:

Review Processes

Always need one person to review changes made. Liberator typically makes decisions by consensus but we’re not doing this with marketing-related content and design changes.

**Content Review:** Changes made to online content related to marketing:
If Bernd makes changes, he needs to get review from one person within Skyporter/Liberator → can get merged.

[2016-08-18 17:10] #208 closed

[2016-08-18 17:40] afeld opened #241 "Ramp up @vrajmohan on cloud.gov"
I will fill this in shortly. Will trim down the onboarding tasks since his work will be focused on Masonry/fedramp-templater.

[2016-08-19 17:25] datn commented on #229
Should this list exclude all "sandbox" orgs?

[2016-08-19 17:46] brittag commented on #229
I'd recommend including a list of sandbox orgs, since that serves our purpose of having a sense of who we're working with and what they need. People using sandbox orgs don't need migration of services for those orgs (for example), but they still need communications, etc.

[2016-08-19 17:55] afeld commented on #240
We should think about how to go about this...would we send a message to everyone on the mailing list? Everyone with a .gov or .mil? Reach out individually to agencies we know are particularly interested?

[2016-08-19 19:20] brittag commented on #240
Here's a way to go about this:

In order for our cloud.gov team to make effective user-centered decisions while planning our compliance assessment work, we need to understand what prospective cloud.gov tenants need in terms of formal compliance assessments before they can start the IAA process and use cloud.gov for their work.

We have some evidence from user research:
* Many prospective tenants w

[2016-08-19 19:32] nikzei commented on #240
I wonder if there are a few folks that we can reach out to personally first? We already have existing relationships with a number of prospective customers and I'm sure that they would be available to give us quick feedback. From there, we'd likely understand the problem better.

[2016-08-19 21:45] LinuxBozo commented on #66
Using shibboleth, currently deployed to CF with some hacks to use jetty: https://github.com/LinuxBozo/cg-idp, along with https://github.com/LinuxBozo/jaas-rdbms which provides for using a database with JAAS for authentication. Idea is to use the uaadb for actual authentication and still allow for using the invite app.

- Works, but would need to be turned into a BOSH release.
- Invite app would ne

[2016-08-20 00:19] nikzei opened #242 "Create "how to run a cloud.gov IAA" document"
In response to 8/19 [thread in #skyporter](https://18f.slack.com/archives/cloud-gov-skyporter/p1471617531000501).

[2016-08-20 00:27] nikzei commented on #226
We discussed having revision for OGC to review at the end of August - will do this regardless of whether it will apply to the FEC's prototyping account purchase.

[2016-08-20 00:29] #242 closed

[2016-08-20 00:32] nikzei commented on #130
In response to 8/19 [thread in #skyporter](https://18f.slack.com/archives/cloud-gov-skyporter/p1471617531000501) - perhaps we can create an "How to run a cloud.gov IAA" doc.

[2016-08-20 05:36] afeld commented on #130
That's more [C2](https://cap.18f.gov/)-like, actually.

[2016-08-22 17:30] mogul opened #243 "PI7 FedRAMP JAB TR remediations"
What we're after: Points raised by the FedRAMP JAB TRs as blocking P-ATO authorization of cloud.gov are resolved

Benefits/why:
- FedRAMP JAB Authorization is the key to removing the barrier to adoption by agencies

[2016-08-22 17:33] mogul opened #244 "Move BOSH to use CF UAA"

[2016-08-22 17:51] mogul commented on #240
We have anecdotal evidence from conversations, but that's only via people we happened to have conversations with (not at all prioritized, but rather driven by who found their way to an 18F human to have the further conversation). This info is in some mix of cloud-gov-support, cloud-gov-inquiries, private inboxes, etc. and is not in an easily mine-able state (cf. the discussions about having a CRM;

[2016-08-22 17:51] mogul commented on #240
(Also, I updated the initial description a bit based on my "in order to" and Britta's "we want to".)

[2016-08-22 17:57] mogul commented on #243
We're waiting on more information from the JAB TR on the [additional remediation points they raised](https://docs.google.com/document/d/1I3khQhNNwAsZBLOsbZvQ3g_4CVeSwDF6PObhpuAPVFc/edit) before creating additional issues here.

[2016-08-22 18:28] jbarnicle commented on #231
@frsfx Here is some relevant background info related to this issue.

https://gist.github.com/pkarman/20f4a4a022a2c59e49bd96675e8101c3

https://github.com/18F/cg-docs/blob/master/content/apps/databases.md#access-a-postgres-database-using-cf-ssh

[2016-08-22 20:53] nikzei commented on #240
That all sounds good. And in case there was any confusion, my comment re talking with our contacts was in reference to Britta writing about not knowing enough about the problem yet (ie, "if we're blocked, we can get unblocked easily"). Totally on board with polling!

[2016-08-22 21:32] datn commented on #229
Document shared with Britta, Diego and John B. Please let me know if you need it modified -- script to be checked in shortly.

[2016-08-22 21:38] brittag commented on #229
Yay thanks! I moved it over to our cloud.gov team folder so that other team members can see it as well (since we'll likely be collaborating with others); it's [over here](https://docs.google.com/spreadsheets/d/1vvRrkrPctG7qmCOP_vc7eXzWBWfqeWoxqbqPzAH4Iwo/edit).

[2016-08-22 21:48] datn commented on #229
Great! Wasn't sure who to share it with, so thanks for sharing it appropriately :)

[2016-08-22 21:50] brittag commented on #229
I estimate that in order for this to be usable for our next steps, we'll need to keep this open until we list who is the key contact + list whether they have technical labor funding+staffing, so I'll reopen it for now. We may need to reassign it for that info (it's also ok with me if we consider that a new story).

[2016-08-22 21:58] brittag commented on #229
(Also I made a new tab of the spreadsheet for turning this into more human-usable info, without messing with the nice tidy info straight from CF.)

[2016-08-22 21:58] datn commented on #229
Didn't mean to close it -- sorry about that!

[2016-08-22 22:00] datn commented on #229
This info can be regenerated at a moment's notice using [this script](https://github.com/18F/cg-scripts/blob/master/cf-orgsinfo.rb).

[2016-08-23 00:00] brittag commented on #240
Ah I see that my last sentence was confusing - I meant that the process of gathering evidence and drafting hypotheses would help me learn enough about the problem to take a next step.

[2016-08-23 15:30] s-matyukevich commented on #220
I've finished this task. There is a set of pull request that makes it possible to create such dashboard

https://github.com/18F/cg-riemann-boshrelease/pull/27
This PR adds tag fields to riemann config, so this fields are added to influx db as tags and not as ordinary fields

https://github.com/18F/riemann-firehose-nozzle/pull/5
This PR adds additional field, that riemann-firehouse-nozzle will tran

[2016-08-23 17:19] s-matyukevich opened #245 "Analyze all platform logs with severity warn and error"
Currently our monitoring dashboard tells that Cloud Controller component constantly generates a few error and warn messages. I don't have access to all logs, but I suspect that other components do the same.

What we can do is the following:
1. Classify all error and warn messages generated by the platform. This will split all error messages by classes, where all similar errors will belong to the s

[2016-08-23 17:25] sushiandbeer commented on #245
I agree.  We should look for and address warnings and errors for all platform components.

[2016-08-23 17:35] datn commented on #239
I agree with others' assessment that this is a task for down the line a bit, but as I envision it, this would involve a small tool that enumerates and connects the same client's assets/services/state on both E/W and GovCloud, making it clear what is missing on the target side.

[2016-08-23 17:38] mogul commented on #245
/cc @sharms

[2016-08-23 17:46] sushiandbeer commented on #245
We should make sure bosh and its components are included, in addition to all other services provided (k8s, logsearch, etc.)

Related: https://github.com/18F/cg-atlas/issues/106

[2016-08-23 18:07] sushiandbeer commented on #183
awslogs, Nessus, New Relic, Admin UI confirmation tasks need to be performed by someone with login/admin privileges.

[2016-08-23 18:23] datn commented on #230
I refined the acceptance criteria a little and am now setting up service instances to test and improve the document.

[2016-08-23 18:37] sushiandbeer commented on #169
Diego metrics: https://github.com/cloudfoundry/diego-release/blob/develop/docs/metrics.md

[2016-08-23 18:37] sushiandbeer commented on #170
Diego metrics: https://github.com/cloudfoundry/diego-release/blob/develop/docs/metrics.md

[2016-08-23 18:50] sushiandbeer opened #246 "Remove legacy runtime (DEA) components"
Once the Diego backend is determined to be stable and sufficient for 18F needs, remove the legacy backend (DEA) components and integrate cg-deploy-cf and cg-deploy-diego pipelines.

See https://github.com/cloudfoundry/diego-release/blob/develop/docs/deploy-alongside-existing-cf.md and See http://docs.cloudfoundry.org/adminguide/apps-enable-diego.html#redeploy:
- Set the hm9000_z1 and hm9000_z2 ins

[2016-08-23 19:24] sushiandbeer commented on #156
Added README content in https://github.com/18F/cg-deploy-diego/pull/6

[2016-08-23 19:32] datn opened #247 "Service usage inventory by org"
In order to effectively focus our efforts in creating migration assistance materials, Squad 2 wants an inventory of which services+plans are used the most and who we can talk to about them.

**Acceptance Criteria**

- [x] We can easily identify which services+plans are instantiated the most
- [x] For a given service+plan, we can identify org+space in which it's used
- [x] For a given space, we can

[2016-08-23 20:01] datn commented on #229
@mogul points out that the services call in this script shows *available* services, not used services. While we probably want a deeper analysis of app usage (cf. #247), we should at least develop this initial list based on actual app usage. I'm reworking the script to show only services with a service binding.

[2016-08-24 19:13] LinuxBozo opened #248 "shibboleth can be deployed with BOSH"
In order for the team to be able to configure and scale installations of shibboleth for IdP integration, it should be managed and deployed with BOSH.

**Acceptance Criteria**

* [x] A non-hand-propped Shibboleth exists in AWS, deployed with BOSH
* [x] Existing hand-generated configuration for integration with UAA is incorporated into a pipeline

[2016-08-24 19:15] LinuxBozo opened #249 "idp.cloud.gov users can reset their own password"
In order to ensure password reset functionality for users without their own IDP, we need to provide a password-reset UX via idp.cloud.gov

**Acceptance Criteria**
- [x] Allow for users to reset password easily, like when is about to or does expire.
- [x] Create email flow for allowing users to reset a forgotten password.

**Implementation sketch**
-

[2016-08-24 19:16] LinuxBozo opened #250 "UAA-SAML users know how to reset MFA token if lost/stolen"

[2016-08-24 22:27] #193 closed

[2016-08-24 22:38] nikzei opened #251 "Take a look at sandbox account use"
Can we develop insights about our users from this?
(came up during 8/23/16 meeting w Bret, Britta)

[2016-08-24 22:44] nikzei opened #252 "Understand how having state users might impact our ability to get FedRAMP authorization"
States do not need JAB authorization for cloud-based services that they use. Should we consider marketing to them first while we're working on getting this authorization? First, we should figure out if there are any reasons that doing so might compromise our ability to get authorization (would giving state entities accounts run contrary to any of the controls?).

[2016-08-24 22:53] datn commented on #247
Question for the team: how will we take user-provided service instances into account in our migration planning?

[2016-08-25 04:47] afeld commented on #241
This didn't end up working out, for staffing reasons. Shame!

[2016-08-25 04:47] #241 closed

[2016-08-25 14:19] sushiandbeer commented on #156
Public-facing documentation: https://github.com/18F/cg-docs/pull/381

[2016-08-25 15:38] frsfx commented on #231
This provides end users instructions on how to migrate their RDS MySQL database from AWS East/West region to AWS GovCloud.

## Tools needed for RDS MySQL Backup

cf cli - installed locally
mysqldump - installed on app

The easiest way to set up an RDS MySQL database is via [services](http://docs.cloudfoundry.org/devguide/services/), which are managed by Cloud Foundry itself. To see what database o

[2016-08-25 17:14] afeld opened #253 "present Compliance Masonry to GSA Senior Management"
[Slides](https://docs.google.com/presentation/d/1l8i9I0BeFJjQiMlW2-0Oo4U4lAY00g5IFuRWD2u9ZE4/edit)

---

Presentation is 8/30 3-4:15pm ET for 15-20 minutes.

My first attempt at explaining Masonry to a compliance-literate audience, which I'll be translating into the presentation:

https://docs.google.com/a/gsa.gov/document/d/1mNV7yzrorBF4YD9uIOr75KOPCrta8eMkk0Gf8edhyZs/edit

The slide deck templat

[2016-08-25 17:52] afeld commented on #253
Per @brittag:

https://18f.slack.com/archives/cg-squad-3/p1472147289000022

and @mogul pointed out that the CIS is immediately out-of-date once it's updated.

[2016-08-25 18:01] brittag commented on #253
(The CIS worksheet is out of date as soon as I go update more controls in the SSP.)

[2016-08-25 21:44] nikzei opened #254 "Sprint 27: unplanned work"
## Drop comments below so that we can track our whitenoise (unplanned work that takes less than 1 hour to complete).

People from different squads have mentioned that they sometimes get pulled off what they're working on to help out with other projects. It's great for folks to help each other out, and it's important for folks on the team to find space for flow while they work. We want to make sure

[2016-08-26 00:51] datn commented on #247
Okay, I got the word -- we don't need to take user-provided service instances into account.

I'm mostly done with this work, but I'm unclear on exactly what information from this API call will be useful to the team: https://apidocs.cloudfoundry.org/240/service_plans/list_all_service_plans.html

[2016-08-26 01:03] datn commented on #247
Script to date committed to branch respect_service_bindings [here](https://github.com/18F/cg-scripts/pull/20).

[2016-08-26 14:48] sushiandbeer commented on #156
Waiting for merge.

/cc @dlapiduz @mogul

[2016-08-26 14:49] sushiandbeer commented on #183
/cc @dlapiduz @mogul

[2016-08-26 14:50] sushiandbeer commented on #175
Blocked on waiting for merge of https://github.com/18F/cg-product/issues/220

/cc @dlapiduz @mogul

[2016-08-26 16:43] sushiandbeer commented on #174
See 18F/cg-atlas#101

[2016-08-26 16:43] #174 closed

[2016-08-26 17:06] mogul commented on #253
Link to the [slides-in-progress](https://docs.google.com/presentation/d/1EmiSXj9PnCnc3AX5V99arBFILI3gqy-7CtZaFq1iXDE/edit#slide=id.g15dfa23e63_2_64).

[2016-08-26 17:16] sushiandbeer commented on #170
This is addressed by the our standard logging via `syslog_daemon_config` as well as the inclusion of the `awslogs`, `collectd`, `newrelic`, and `riemannc` releases on each VM.

[2016-08-26 17:16] #170 closed

[2016-08-26 17:17] sushiandbeer commented on #169
This is addressed by the our standard logging via `syslog_daemon_config` as well as the inclusion of the `awslogs`, `collectd`, `newrelic`, and `riemannc` releases on each VM.

[2016-08-26 17:17] #169 closed

[2016-08-26 17:32] sushiandbeer commented on #188
It appears the tests aren't needed as they are primarily integration tests to be run when developing Diego itself.  It looks like we can just rely on the Diego Acceptance Tests[1] which has its test coverage integrated into the CF Acceptance Tests (CATs), which "is a suite of acceptance-level tests that run against CF and Diego deployed together," according to the Diego design notes.

1: https://g

[2016-08-26 17:32] #188 closed

[2016-08-26 18:57] sushiandbeer commented on #162
Closing as the Diego development team is achieving very high performance in their own testing on AWS[1].

In the event benchmarks are desired, I suggest reviewing the diego-perf-release[2]

1: https://www.youtube.com/watch?v=VRLgOUGOo-c&index=4&list=PLhuMOCWn4P9jUjjC6Dma-59N8U9UTjjPI
2: https://github.com/cloudfoundry/diego-perf-release

[2016-08-26 19:07] sushiandbeer commented on #176
I see this as a task to be revisited periodically.

[2016-08-26 19:10] sushiandbeer commented on #176
This task requires someone with GSA credentials with access to the platform and app aggregated logs.

/cc @dlapiduz @mogul

[2016-08-26 19:12] #162 closed

[2016-08-26 19:31] sushiandbeer commented on #164
Also note the garden-linux default max_containers of 250.  https://github.com/18F/cg-atlas/issues/101

[2016-08-26 22:51] mogul opened #255 "Provide/require a fallback IDP for accounts from unknown domains"
In order to ensure cloud.gov logins from unknown domains are forced to use our fallback IDP,  we want any accounts from domains not already associated with another IDP to be flipped to idp.cloud.gov upon activation

**Acceptance criteria**
- [x] Scenario: Humans from unknown domains end up with idp.cloud.gov as their ID provider
  GIVEN an inactive account
  AND the account name is a valid e-mail

[2016-08-28 16:35] sushiandbeer commented on #175
See the descriptions for various Diego metrics here: https://github.com/cloudfoundry/diego-release/blob/develop/docs/metrics.md

[2016-08-29 17:04] mogul commented on #66
Stories identified above are in the backlog and getting groomed

[2016-08-29 17:04] #66 closed

[2016-08-29 17:29] #25 closed

[2016-08-29 20:34] nikzei commented on #253
I'm wondering if you can start off with a quick mention of the broader problem that cloud.gov addresses and then introduce masonry in the context of how it fits within. Even with a compliance-literate audience, making sure that everyone is on the same starting page might be worthwhile and might give you a better foundation to show how masonry is important in a larger context (I put notes in the do

[2016-08-29 20:47] afeld commented on #253
Fixed the link to the slides above.

[2016-08-29 21:16] nikzei commented on #240
After meeting, here's the plan:
We're holding off until 9/1 (after Fedramp Post-Kickoff Review meeting + Bernd's return)
- [ ] we [previously surveyed]( https://docs.google.com/spreadsheets/d/1JHlCug_1CwFuRflvn5MBqqJRF8PhKtgjlIINuRyx0wk/edit#gid=662866378 ) people who expressed interest in cg. There were about 10 people who weren't interested in interacting with us until the product was ready for

[2016-08-29 21:32] nikzei opened #256 "As cg bizdev, I'd like to know more about those who sign up for our mailing list"
Currently, we only ask for an email address when signing people up to our mailing list. Let's update the form on website so that we're capturing more information about those who sign on to our mailing list. Variables that we identified include individuals title/role, whether they have purchasing power, what specifically they are interested in, etc.

[2016-08-29 21:38] nikzei opened #257 "marketing our prototyping account"
Prototyping accounts are good for agencies that want their dev teams to get familiar w cloud.gov while we're awaiting JAB authorization. Start by reaching out to users of our free sandbox accounts and see if they want to upgrade to prototyping. (sandbox accounts set up by cloud-gov-support@).

[2016-08-29 21:45] nikzei opened #258 "As an account manager, I'd like to justify the annual access fee (which typically don't exist in the industry)"
Can we publish accounts from Adrian Webb + Jay Huie about how by transitioning clients to cloud.gov, they're hoping to save them from significant costs?

[2016-08-29 23:01] jbarnicle commented on #231
@frsfx Overall this looks good, but since this issue is to create documentation for migrating a mysql instance I don't think we need the section on provisioning.  Also I think we need to provide some sort of direction for users that don't have the prerequisite of  `mysqldump - installed on app`

[2016-08-30 00:11] mogul commented on #137
I think this separate story isn't necessary so long as the bot that implements https://github.com/18F/cg-product/issues/255 looks at *all* local users with valid e-mail addresses for their names. Right? If so then we should add another GIVEN/WHEN/THEN on that issue.

[2016-08-30 00:13] mogul commented on #249
Does UAA actively thwart its own password reset flow when the origin is not `uaa`? I suspect it will, and this might result in some curious messages for users (eg "your password is not managed via cloud.gov; talk to your identity provider") unless we support a separate password-reset flow on the cloud.gov IDP.

[2016-08-30 00:48] brittag commented on #256
We have related issues at https://github.com/18F/cg-landing/issues/66 and https://github.com/18F/cg-product/issues/134

[2016-08-30 13:08] LinuxBozo commented on #249
@mogul You have it correct. Hence the need for this alternative.

[2016-08-30 13:23] frsfx commented on #231
@jbarnicle Hi John, I wasn't sure if users would have MySQL service before migrating.  For the prerequisite for mysqldump, I put this sudo apt-get install mysql-client-5.1 in the steps.  This package provides mysqldump.  Let me know what you like me to change.

[2016-08-30 17:28] brittag commented on #201
Example interesting contingency planning scenarios we could discuss ("what are you worried about"):

* What if somebody got into cloud.gov somehow with a ransomware attack?
* What if Slack or GitHub went down (or we lost access to either, either due to normal outage or due to malicious actions) while we were trying to deal with a potential security incident?

[2016-08-30 18:21] afeld commented on #253
Didn't end up happening 😢 Ah well!

[2016-08-30 18:21] #253 closed

[2016-08-30 20:30] jbarnicle commented on #210
This is currently deployed in fr-stage.  We're going to monitor activity there for a bit before pushing to production.

[2016-08-30 23:56] nikzei commented on #253
Sounded to me like it might happen in 6 weeks or so? In which case, should we leave this one in ready in case the meeting gets rescheduled and you want to grab it and do a little bit more prep?

[2016-08-31 00:10] nikzei commented on #226
This is our first step in drafting a standardized SOW for cloud.gov contractual agreements. The goals of first version of revisions are:
- to add description of baseline offerings by cutting and pasting from https://docs.cloud.gov/intro/pricing/whats-included/
- to add pricing information from https://docs.cloud.gov/intro/pricing/rates
- to identify sections that change per customer and sections t

[2016-08-31 12:14] afeld commented on #253
Let's re-open when/if the date gets confirmed. And yes, more prep would be great :grin:

/cc @wslack

[2016-08-31 19:34] jbarnicle commented on #227
I opened this issue as a starting point for our strategy to migrate users.  This has been covered with the creation of the migration bot.  https://github.com/18F/cg-product/issues/210

[2016-08-31 19:34] #227 closed

[2016-08-31 21:50] mogul opened #260 "18F-originated code is scanned for vulnerabilities before being allowed into production"
In order to mitigate the risk of a subtle code vulnerability being introduced into production cloud.gov by a careless/malicious commit, code included in cloud.gov originating from 18F goes through a scan for vulnerabilities before we allow it into production.

**Acceptance Criteria**

- [x] We demonstrate that code is tested for vulnerabilities before it is merged into the mainline of 18F-originat

[2016-08-31 22:49] mogul opened #261 "Adequately document IA controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [IA Google Doc](https://docs.g

[2016-08-31 22:51] mogul opened #262 "Adequately document AU controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [AU Google Doc](https://docs.g

[2016-08-31 22:52] mogul opened #263 "Adequately document AT controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

The AT document is [this Google

[2016-08-31 22:52] mogul opened #264 "Adequately document CA controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

[CA Google Doc](https://docs.goo

[2016-08-31 22:52] mogul opened #265 "Adequately document CM controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [CM Google Doc](https://docs.g

[2016-08-31 22:52] mogul opened #266 "Adequately document CP controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [CP Google Doc](https://docs.g

[2016-08-31 22:53] mogul opened #267 "Adequately document IA controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Acceptance criteria**

Take the latest relevant control statement chunk [from the Google Drive "SSP draft chunks" folder](https://drive.google.com/drive/u/0/folders/0B1cewEqKcWCbR3hvajNiR0IwUVU),

[2016-08-31 22:53] mogul opened #268 "Adequately document PL controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [PL Google Doc](https://docs.g

[2016-08-31 22:53] mogul opened #269 "Adequately document PS controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [PS Google Doc](https://docs.g

[2016-08-31 22:53] mogul opened #270 "Adequately document RA controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [Google Doc for RA](https://do

[2016-08-31 22:53] mogul opened #271 "Adequately document SA controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [SA Google Doc](https://docs.g

[2016-08-31 22:54] mogul opened #272 "Adequately document SC controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [SC Google Doc](https://docs.g

[2016-08-31 22:54] mogul opened #273 "Adequately document SI controls in SSP"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [SI Google Doc](https://docs.g

[2016-08-31 22:59] mogul opened #274 "Update SSP to reflect Diego architecture"
In order for JAB TRs to have an accurate picture of the system they're evaluating, we should ensure that our SSP material is updated to reflect the Diego architecture/deployment in GovCloud.

[2016-08-31 23:55] mogul opened #275 "Polish assembled SSP prior to JAB submission"
In order to have confidence in the quality and consistency of our SSP, we need to do some overall review and checking of important aspects of the final draft, as part of putting together a full SSP package.

**Acceptance Criteria**

We have:

- [ ] Looked through the [JAB spreadsheet](https://docs.google.com/spreadsheets/d/1DrijIZDu0tltgKR8q36dnk00Z86b2yoQ_wO0kSIq1sM/edit#gid=622192705) and [JAB n

[2016-09-01 00:41] mogul commented on #195
We've got an upstream feature in Aha that will result in an issue in GitHub that links back to Aha! when we start working on it. We'll use that issue instead of this one for tracking the state of this feature in our roadmap.

[2016-09-01 00:41] #195 closed

[2016-09-01 00:43] mogul commented on #119
We've got an upstream feature in Aha! that will result in an issue in GitHub that links back to Aha! when we start working on it. We'll use that issue instead of this one for tracking the state of this feature in our roadmap.

[2016-09-01 00:43] #119 closed

[2016-09-01 15:50] afeld opened #276 "Increase use of Masonry at GSA"
In work I'm doing with @nvembar, @jezhumble, @NoahKunin, and others, it's becoming increasingly clear how much potential impact Masonry could have if applied more broadly. 18F, for example, is going to have a large batch of ATOs coming through soon, and I believe this will be a _lot_ easier if Masonry can be used for it.

@jcscottiii and I's recent work on Masonry has been all around FedRAMP, but

[2016-09-01 15:53] jbarnicle commented on #231
@frsfx Were you able to test your instructions against an actual mysql instance?  I don't have an app that uses mysql handy or I would do it myself.

[2016-09-01 15:57] afeld opened #277 "Find alternate funding for Masonry work"
Related to https://github.com/18F/cg-product/issues/276.

To increase the usage / use cases for Masonry, we would need to do more work than we have capacity for right now (development, content, user research, etc.) cloud.gov's financial situation is hopefully changing for the better soon where we have to worry about 💰 less, but ideally any GSA-specific work (for example) wouldn't be funded out of

[2016-09-01 16:13] mogul commented on #277
@lanebecker also wants to help with this.

[2016-09-01 16:15] mogul commented on #277
@dlapiduz and @ric7694 should be subscribed here too.

[2016-09-01 16:15] frsfx commented on #231
@jbarnicle just the mysql commands not the actual migration.

[2016-09-01 16:30] jbarnicle commented on #231
@frsfx Can you verify the actual migration steps - can that be tested locally?

[2016-09-01 16:39] frsfx commented on #231
@jbarnicle I don't have any access to 18F's environments so it'll be very difficult for me to test. Sorry!

[2016-09-01 17:23] brittag commented on #267
We already have IA filed at https://github.com/18F/cg-product/issues/261, so I'll close this duplicate.

[2016-09-01 17:23] #267 closed

[2016-09-02 14:29] sushiandbeer commented on #156
Blocked waiting for https://github.com/18F/cg-docs/pull/381

[2016-09-02 14:29] sushiandbeer commented on #161
Our current properties seem sane.

[2016-09-02 14:29] #161 closed

[2016-09-02 14:31] sushiandbeer commented on #220
Blocked waiting for the merges above.

[2016-09-02 14:33] sushiandbeer commented on #183
Blocked waiting on https://github.com/18F/cg-product/issues/220 and for someone with Nessus access to confirm data there.

[2016-09-03 18:48] mogul commented on #236
News flash! It looks like UAA 3.7.0 will include an API for creating user-based API tokens. If Pivotal Tracker is to be believed, it’s due to drop in the next two weeks: https://www.pivotaltracker.com/story/show/128319711

Once that happens, and Travis/Circle/Wercker/Concourse et al support using API tokens for deployment, it may be that we can just send OrgManagers an API token, rather than the c

[2016-09-03 19:00] mogul commented on #247
@datn:

Their content is completely owned by the customer, and ordinarily I'd say that's reason enough that they would need to set it up again in the new environment. However, I think we have the actual UPS content in the DB, so it may be something that we can auto-migrate over! It's probably a separate story from the regular services; want to create a separate issue in the backlog?

[2016-09-03 19:06] mogul commented on #247
@jbarnicle: I took a look at [two](https://docs.google.com/spreadsheets/d/1Ur3ciaTrrlriJ5HNsGLyBgaWDLjcFZutxqWuB4fVSJg/edit?ts=57c8653f#gid=1045067861) [sheets](https://docs.google.com/spreadsheets/d/1edJzZC3DjcsZj2UZ-mMxrz7QKP71fC48yW-5gIoY25M/edit#gid=1984181281) I had open in my browser. I'm not sure what link I followed to open them or what the difference between them is although at first glan

[2016-09-04 05:32] jbarnicle commented on #247
@mogul That SpaceManagers column is mislabeled - those are actually SpaceDevelopers (I don't think there is a role SpaceManager).  I'll fix that.   I'll also look into the `,,` issue.

WRT to pivot tables - I might need a little input on what's needed there.  I think the data is there to support the acceptance criteria - but there are definitely opportunities to present it in a more clear fashion.

[2016-09-06 19:01] suprenant commented on #76
We're starting to validate interest in notifications for hitting quotas during our current round of PM interviews: https://drive.google.com/drive/u/0/folders/0B_a71ksF1BfnVEQtVEc1OEktY3M

[2016-09-06 22:34] brittag opened #280 "Update AC-2 control sub-family to accurately reflect our system for review"
In order for compliance reviewers to understand our system, we need to update this sub-family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

**Acceptance criteria**

See

[2016-09-07 17:35] sharms commented on #185
This is currently broken and will hold awslogs handles open after they have been rotated causing file systems to reach 100% full.  Reverting

[2016-09-07 17:35] #185 closed

[2016-09-07 17:45] jbarnicle commented on #247
@mogul I made the following changes to the script and reloaded the data
- fixed `,,` issue by ignoring OrgManager / SpaceDeveloper entries without a username
- removed spaces that were obviously non-prod
- sorted the data by org
- removed any services columns that had no instances
- corrected SpaceDeveloper heading and added column for SpaceManagers

I think it's fairly straightforward to glean th

[2016-09-07 18:13] msecret commented on #124
We already have a story for this, can we close this: https://github.com/18F/cg-product/issues/189

[2016-09-07 22:12] cnelson commented on #260
Does 18F / GSA have access to any (white box) code scanning services today?

Most of the open source stuff in this area is not very good / tied to a specific language (or even a specific framework) and given the number of languages currently used in the various cloud.gov components could be very difficult to implement scanning for all of it in a reasonable amount of time using open source tools.

[2016-09-08 01:16] suprenant commented on #124
@msecret seems reasonable. Closing this. cc @rogeruiz

[2016-09-08 01:16] #124 closed

[2016-09-08 03:17] afeld commented on #260
We did some evaluation of various proprietary scanning tools as part of the [Compliance Toolkit](https://github.com/18F/compliance-toolkit) project, but at least for web projects, didn't find anything that did any better than [the open source options](https://pages.18f.gov/before-you-ship/security/static-analysis/#code-analysis). We could scan things like the Cloud Controller for web vulnerabiliti

[2016-09-08 03:20] afeld commented on #260
Just heard from the GSA CISO office that they use Checkmarx and Fortify, so we can get access to those if desired. Checkmarx was one of the tools we evaluated, and passed on:

* https://trello.com/c/gtWfVCM0/45-look-through-checkmarx-report-for-c2
* https://trello.com/c/D59MQsDO/46-look-through-checkmarx-report-for-icam-public

[2016-09-08 03:54] jmcarp commented on #260
Do any of the proprietary tools know golang? I didn't see much available on the open-source side.

[2016-09-08 04:01] afeld commented on #260
I haven't heard of any scanners for Go, no.

[2016-09-08 04:25] #156 closed

[2016-09-08 13:54] cnelson commented on #260
Identifying a list of languages we need to scan is probably a good start.  I know for sure that Cloudfoundry itself has at least:

- Ruby
- Java
- Go

Our eventing is Riemann so Clojure.

What else is out there, do we have a full inventory?

[2016-09-08 17:06] afeld opened #283 "remove information about squads"
Might be as simple as reverting https://github.com/18F/cg-product/commit/6a4acf23133822765f4b41c0d3932c800daec290 ...?

[2016-09-08 18:02] cnelson commented on #260
@afeld what do we need to do to get access to HP Fortify.  It's probably at least worth evaluating vs the open-source tools.

 I was hoping we might have access to veracode which is the gold standard for this type of thing usually but I'll work with what we've got :)

[2016-09-08 18:05] jacobian commented on #260
FWIW I have some experience with Fortify and I've had good results, albeit over there in Java-land. I think it's worth a shot, especially if we get it for "free" (as part of the GSA license).

[2016-09-08 20:43] mogul commented on #272
@dlapiduz: Put you as one of the assignees on this one... We're anticipating that you're an SME in this area (HTTPS, DNSSEC, etc)

[2016-09-09 02:00] mogul opened #284 "Invite collaborators with pre-assigned roles"
What we're after: OrganizationManagers can invite users not visible (and potentially not already present in cloud.gov) directly to their spaces with roles pre-set for when the invitation is confirmed.

Benefits/why:
- Eliminate the burden for OrganizationManagers to know who is and isn't already a cloud.gov user
- Eliminate the delay between having an invitation confirmed and having the new collab

[2016-09-09 02:00] mogul opened #285 "OrgManagers can set roles for users even if they don't exist"
In order to eliminate the burden and delay for OrganizationManagers who don't know whether someone already has a cloud.gov account, OrganizationManagers should be able to set any e-mail address as having a set of roles in their org+spaces without having to hassle with invitations.

[2016-09-09 02:00] mogul opened #286 "New users are auto-granted roles in orgs/spaces that are expecting them"
In order to eliminate the delay between confirming an invitation and being able to collaborate in an org/space, new users should have "waiting" org+space roles set up for them automatically.

[2016-09-09 02:00] mogul opened #287 "Live billing data in dashboard"
What we're after: Organization managers can easily understand the burn rate for their org based on recent data, and how that is derived per space, app, and managed service.

Benefits/why:
- Enable decision-making about how much/little to use cloud.gov
- Minimize surprises and disputes at invoice time

Ideally this is live, graphed data in the UI, but this start as a static report (eg as part of [C

[2016-09-09 02:05] mogul commented on #284
My understanding from @LinuxBozo is that accounts with a pending invitation exist in the DB and are marked "inactive"... At the API level it may be possible to grant them roles even while they're in the inactive state. It may then be possible to query for them and show them in the UI based on roles that they have on the current space.

[2016-09-09 02:28] suprenant commented on #284
Items we previously discussed around this (to be broken out into stories):
 - Conduct UX research
 - Do some sketches
 - Add org, space, roles and permissions to dashboard

cc @thisisdano

[2016-09-09 03:00] suprenant commented on #287
Previously discussed related to this:
 - Should talk to Diego about this to learn more about how billing/pricing works
 - Need for this has been validated by talking to several PMs

[2016-09-09 03:04] suprenant commented on #191
@msecret let's take another look at this and make sure it's useful – parented/parenting correctly and in the right pipeline

[2016-09-09 03:06] suprenant commented on #194
Also discussed:
 - Reconfigure it so it doesn’t show Twitter results
 - Remove hamburger?

[2016-09-09 03:17] mogul commented on #247
If we're talking about [this file](https://docs.google.com/spreadsheets/d/1Ur3ciaTrrlriJ5HNsGLyBgaWDLjcFZutxqWuB4fVSJg/edit?ts=57c8653f#gid=580587808), LGTM.

So the information we learned is that this is the order we should be prioritizing our efforts to document/make tools:

- 26 RDS Database Broker : shared-psql
- 13 Redis 2.8 service for application development and testing : standard
- 9 Amazo

[2016-09-09 03:17] #247 closed

[2016-09-09 04:14] mogul commented on #283
I think they just need a rename... Tried that and a little more in https://github.com/18F/cg-product/pull/289

[2016-09-09 04:42] jmcarp commented on #283
I promise I'm not trolling, but if themes and squads have a one-to-one relationship, what's the value of holding on to both concepts?

[2016-09-09 21:39] suprenant commented on #256
@nikzei is there work here that we expect our squad to pick up since this has the Liberator tag? It seems so since it's in the Backlog, but we're not sure what to do here at the moment.

Should this be moved to the Icebox, then? Or, if you want to plan and groom it with us, we could set up time for this?

[2016-09-09 21:40] suprenant commented on #258
@nikzei same question here as https://github.com/18F/cg-product/issues/256 – do we expect to plan/groom this item for our squad to pick up as part of the Liberator stream?

[2016-09-09 22:33] nikzei commented on #256
@suprenant I've removed the liberator tag for now so that this is a Skyporter issue. No need to ice box it. Skyporter folks will circle back if + when we need Liberator help for this one. Thanks-

[2016-09-09 22:36] nikzei commented on #258
@suprenant as with #256, I'm removing the Liberator tag so that this is a Skyporter issue. If we need Liberator assistance, we'll reach out then.

[2016-09-11 01:48] mogul commented on #283
I want to hold out for a while longer, just until we're sure that AgentQ and Atlas are not just separate themes, but separate squads... I want to see what the steady state looks like with Coresphere out, Dan and Chris on, and the current all-hands-on-HighBar-and-Atlas situation behind us.

[2016-09-11 23:57] mogul commented on #260
I'm pretty sure @dlapiduz was chasing down Fortify with @nvembar.

We can always start with Fortify, and add other scanners later if there's one that gives better results. The priority right now is to make sure there's a place in our pipeline where these sorts of scans run **at all** in order to address the immediate compliance blocker... Evaluating and responding to the results, reducing noise/fa

[2016-09-12 15:30] mogul commented on #185
Is this closed as "won't revisit after reverting", or was it fixed before closing?

[2016-09-12 16:05] cnelson commented on #270
This is blocked until https://github.com/18F/cg-compliance/issues/179 is closed.  Once our policies are confirmed to be correct, we can begin documenting/implementing the procedures that enforce them.

[2016-09-12 16:31] mogul commented on #240
I'm thinking now that we know our delay on JAB authorization is on the order of 6-8 weeks (rather than an unknown number of months), there's less urgency on this question. We discussed writing an update for our base with info about our status and prompting for those who are ready to start moving forward with an IAA based on that information to contact us... We should probably still do that, and tr

[2016-09-12 17:05] brittag commented on #261
This is partially blocked on https://github.com/18F/cg-compliance/issues/179, but a bunch of these can be sorted out before we finish that project - for example, we can write up Fugacious documentation. I'd be happy to help identify those; let me know if I can help.

[2016-09-12 18:12] jmcarp commented on #273
Partially blocked on

@brittag says that @NoahKunin can help with this.

[2016-09-12 20:19] brittag opened #290 "Convert our Continuous Monitoring Strategy doc to a living page in cg-docs"
In order for our team to easily read and maintain our Continuous Monitoring Strategy, we should convert it from a static Word doc to a page in cg-docs.

Here's the old issue about it: https://github.com/18F/cg-compliance/issues/170

This strategy doc supports the CA family in the SSP (https://github.com/18F/cg-product/issues/264).

**Acceptance Criteria**
- [x] The Continuous Monitoring Strategy d

[2016-09-12 20:32] jbarnicle commented on #263
@brittag The only remediations I'm seeing are WRT to phishing training.  The CSP response was

Is this your understanding as well - or am I missing something?

[2016-09-12 20:42] brittag opened #291 "Update SSP section 10.7 (Data Flow) to explain external services"
In order for Technical Reviewers to understand our system, we should ensure our system overview section 10.7 (data flow) reflects our system very well, especially areas that they had questions about.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

This story is part of the larger

[2016-09-12 22:12] brittag commented on #263
Thanks @jbarnicle, I went through and finished grooming this - the basic thing I did was add the AT-1 item from the SRTM. I also looked at the current state of the AT family and realized it'll need an overall update based on the AT-1 update. Moving this to ready.

[2016-09-12 23:29] brittag opened #293 "Update CA-3 (3) to explain potential customer TIC options"
In order for compliance reviewers to understand our system, we need to update CA-3 (3) to explain our system in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

[CA Google Doc](https://docs.google.com/document/d/1LnjqxvB9QhY8xLFw2B-LAu0nsChldsul4c1

[2016-09-13 02:27] NoahKunin commented on #270
Doing this final mapping tonight, having @brittag look at it first thing Pacific time tmrw, then will :shipit: to unblock.

[2016-09-13 19:55] brittag commented on #261
- [ ] IA-5 (d) needs more information about cloud.gov offboarding.

[2016-09-13 20:07] jmcarp commented on #291
From @NoahKunin:

Questions:
* Is work on this item blocked on @NoahKunin's "formal review"?
* Where are the notes from the JAB meeting?
* Where are the system diagram and software / service inventory?
* What are the requirements of the data diagram?

cc @brittag

[2016-09-13 22:01] brittag commented on #272
- [ ] Check the responsible roles, implementation statuses, and control originations for each control. (Including that "Infrastructure as a Service Provider" shouldn't be in the responsible role - since AWS isn't responsible for these things - instead, we're responsible for making sure our implementation of AWS satisfies these things.)

[2016-09-13 22:40] cnelson commented on #260
We spoke with them last Friday and while they were eager to help it seemed like it was a multi-week process to get up and running which seems like it doesn't work with our deadline.  Also we have the issue that a large portion of the OSS code we rely on is Go, and neither tool supports that language.

Their asks to move forward were a list of the repos and languages we wanted to scan.  I generated

[2016-09-13 22:53] brittag commented on #280
Noah did some work on this in https://docs.google.com/document/d/16Ao-FCFv1RacjTyvxUqc26ZoJRA-Q7efYBSaAmeFPJg/edit# - so some of these acceptance criteria items may be met already.

[2016-09-14 00:13] mogul commented on #260
Have reached out to FedRAMP PMO for information about getting access to Fortify on Demand.

[2016-09-14 01:01] mogul commented on #273
So now awaiting outside 👀 and feedback/comments. I prompted for review from Randy Bator and Bridget. I also assigned Noah as he said that's the best way to get his input in GitHub. Prompt anyone else you feel could help!

[2016-09-14 01:02] mogul commented on #273
I think @jezhumble said he'd also contribute outside 👀 ...

For reference, it's [here](https://docs.google.com/document/d/1suPHrUZUps1mWctbTXBK7qsMTEDw0envn10A9scOEPA/edit).

[2016-09-14 01:20] brittag commented on #273
Looks like the following need a little more detail to explain our implementation:

- [ ] SC-3 (1)
- [ ] SC-3 (2)
- [ ] SI-4 (4)
- [ ] SI-11 (part b)

And it looks like these parameters should be filled out:

- [ ] SI-6
- [ ] SI-7(7)

[2016-09-14 06:45] brittag commented on #270
I added a few questions about minor aspects of control statements. If this is basically waiting for ISSO review, we could probably move it to "Awaiting Acceptance" instead of "In Progress". :D

[2016-09-14 06:55] brittag commented on #261
Notes about additional progress that should happen:

- [ ] IA-4's various parts need more revising to be more consistent. For example, c, d, and e all need information about all three major relevant account types (AWS, cloud.gov, and GitHub).

- [ ] Throughout these controls (and probably throughout the SSP), we should standardize how we refer to cloud.gov PaaS / Customer Responsibility. Possible

[2016-09-14 07:15] brittag commented on #261
Issues identified while working on this so far, which may need their own stories:

* IA-2 (11): we need a team policy that we need to have our MFA running on GSA devices, and possibly that we have to use Google Authenticator.

* https://github.com/18F/cg-product/blob/master/OnboardingChecklist.md#atlas-specific-items-1 "Grant them access to the following (where applicable): AWS, New Relic, PagerDu

[2016-09-14 07:29] brittag commented on #291
More info about how to approach this task:

* Work on this item is not blocked on any one person's formal review! In practice, this task may be blocked on our team not yet having an authoritative/complete list of services that should be included in this diagram. (In other words: we haven't yet worked on getting [this list of external services](https://docs.google.com/document/d/1iOA_7c8iuhVLbmIdRb

[2016-09-14 07:47] brittag opened #294 "Complete our services table so that it can be a SSP attachment"
In order for compliance reviewers to understand our system, we need to have an SSP attachment that is a table of services (both inside and outside our boundary), including comprehensive details about them.

**Setup**

[We have a draft table here](https://docs.google.com/document/d/1xZI6mTbJpXVG90rGL1LswgPf6YUN7FM2yBPhfPhRgw8/edit#heading=h.h6noyq8mrmk2) with context.

The notes from the relevant J

[2016-09-14 15:12] jezhumble commented on #273
I'll take a look today.

On Tue, Sep 13, 2016 at 6:20 PM, Britta <notifications@github.com> wrote:

--
Jez Humble
Acting Deputy Director of Delivery Architecture and Infrastructure Services
GSA Technology Transformation Service
(510) 501-9431
50 UN Plaza
San Francisco, CA 94102

[2016-09-14 17:01] brittag commented on #263
Status of this one: AT-3 and AT-4 need research!

[2016-09-14 19:00] mogul commented on #265
@cnelson: This probably needs an update to describe that we now use a protected master branch with required reviews.

[2016-09-14 21:59] brittag commented on #272
Review status:

* Noah K has reviewed the DNSSEC controls (SC-20 / SC-21). ✅
* There are a few controls that need additional fact-checking by Diego.
* Randy plans to take a look soon.

[2016-09-14 22:06] brittag commented on #275
Noting for future reference - at this end stage, we may need to think about:

* Fixing formatting
* Updating the Control Implementation Summary
* Updating the Customer Responsibility Matrix
* Making sure our SSP attachments are updated and organized properly

[2016-09-14 22:45] brittag commented on #291
Moving this to "In Progress" since Josh has made progress on diagram concepts!

[2016-09-14 23:34] mogul commented on #275
Noting for when we review this later... [Jez has been working this out for the subset of controls that are in the GSA LATO](https://18f.slack.com/archives/cloud-gov-highbar/p1473890542000870).

[2016-09-14 23:35] brittag commented on #290
When we make this happen, https://docs.cloud.gov/ops/configuration-management/#continuous-monitoring should link to this page!

[2016-09-15 00:45] nikzei commented on #252
We've decided not to pursue state contracts in FY17.

[2016-09-15 00:45] #252 closed

[2016-09-15 00:48] nikzei commented on #240
Great - I'll move this to ready.

[2016-09-15 01:12] nikzei commented on #134
closing this, keeping open [18F/cg-landing#66](18F/cg-landing#66).

[2016-09-15 01:12] #134 closed

[2016-09-15 01:15] brittag commented on #265
👏  Wrote a bunch of comments to help with the "CM overall" criteria - this is progressing a lot, hooray!

[2016-09-15 01:26] brittag commented on #270
I've asked Bridget to take a look at these.

[2016-09-15 01:28] brittag commented on #262
Moving this to In Progress since Dan is researching these things! (See his email from today for more info about what he's looking for.)

[2016-09-15 03:16] jbarnicle commented on #164
@dlapiduz Can we close this research story?

[2016-09-15 03:45] jbarnicle commented on #210
@mogul The migration bot is currently deployed in fr-staging.  The pipeline is set up to deploy in production with a merge to the master branch.  I've been holding off on that as I think we want to migrate users closer to the time we are ready to migrate tenants to govcloud.   In particular, there could be potential confusion on synchronization if a user's profile is modified in e/w after they hav

[2016-09-15 17:14] #164 closed

[2016-09-15 17:40] jbarnicle opened #297 "Deploy migration-bot to production GovCloud"
Currently deployed only in fr-stage.  Delaying deployment to production until we are more ready to migrate tenants off e/w.
- [ ] Merge staging branch to master branch to trigger production concourse pipeline

[2016-09-15 17:42] jbarnicle commented on #210
Closing this issue and moving the production deployment to its own issue to be addressed later.

https://github.com/18F/cg-product/issues/297

[2016-09-15 17:42] #210 closed

[2016-09-15 19:38] mogul commented on #270
Bridget said it looks pretty good, but she's made some suggestions. Sounds like she's done with it for now.

[2016-09-15 20:13] mogul commented on #260
Still some uncertainty due to lack of access to scanning tools. Actual technical integration doesn't seem difficult. Once we have access to tools it's about 3-4 days of remaining work. @cnelson is concentrating on docs now, but thinks anyone on the team could tackle this; @jmcarp looks interested.

[2016-09-15 20:17] brittag commented on #272
Diego has done his fact-checking! ✅

Randy put in a few comments. ✅

I've asked Bridget to take a look.

[2016-09-15 20:22] mogul commented on #275
Per Bridget, the CRM can be low in priority.

[2016-09-15 22:46] brittag commented on #273
Josh and I finished fixing all the identified issues. This is just blocked on -1.

[2016-09-16 00:48] brittag commented on #269
This whole control family needs to be updated to talk about GSA policy. We need a subject matter expert on that to fix the problems identified with comments in the Google document.

[2016-09-16 01:02] brittag commented on #271
This needs a lot of subject matter expertise about planning at a high level for cloud.gov - we suspect some of this is handled by GSA/18F or even 18F Products & Platforms.

[2016-09-16 21:58] suprenant commented on #287
Proposed meeting w/Diego and the squad on 9/22 for a info download on billing

[2016-09-16 22:10] brittag commented on #265
CM-11 is blocked on GSA/TTS policy input (filed as a note [here](https://docs.google.com/document/d/1DJOsX77FhDlEnaizkXv8D_VSLmUz62uYKFxwdyloI1s/edit)); otherwise this seems ready for Awaiting Acceptance.

[2016-09-16 22:50] mogul commented on #272
Per discussion with Noah today: @rjbator will be the one to sign off on this issue and move it from `Awaiting Acceptance` to `Closed`.

[2016-09-16 22:50] mogul commented on #273
Per discussion with Noah today: @rjbator will be the one to sign off on this issue and move it from `Awaiting Acceptance` to `Closed`.

[2016-09-16 22:50] mogul commented on #270
Per discussion with Noah today: @rjbator will be the one to sign off on this issue and move it from `Awaiting Acceptance` to `Closed`.

[2016-09-16 23:06] brittag commented on #291
Status: they made [some small diagrams that show some components](https://diagrams.apps.cloud.gov/)! These are going to be useful to include.

It's unclear though what the full/overall requirements are for the diagrams for this section - it seems useful to make some more progress on Section 9 and 10 (and the services table attachment) before tackling this one in more depth. So I'll move this one b

[2016-09-16 23:20] brittag commented on #294
This is getting some great progress, thanks Josh!!! I added in a little bit of formatting and stuck in the new columns for the other tables too.

[2016-09-16 23:21] brittag commented on #269
Since this is stuck on GSA policy input, I [put in a note here to ask for help from Noah](https://docs.google.com/document/d/1DJOsX77FhDlEnaizkXv8D_VSLmUz62uYKFxwdyloI1s/edit).

[2016-09-16 23:54] brittag opened #298 "Adequately document IR controls"
In order for compliance reviewers to understand our system, we need to update this family of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [IR Google Doc](https://docs.g

[2016-09-16 23:56] nikzei opened #299 "revise pricing pace on website"
Just talking with Leah about https://docs.cloud.gov/intro/pricing/rates/ , she pointed out how when you read the fees under "Access Package," for each package, it says "No" for usage charges. I found it confusing as well; I think that what we intended to say here was, "usage charges are not included in the Access Package - you will be charged separately for them." Instead, it initially reads as "y

[2016-09-17 00:05] nikzei opened #300 "Customer responsibility documentation"
In order to help people understand what aspects of compliance are handled by cloud.gov and what is left to them, we want new and prospective users to be able to find information about which FISMA controls cg handles and which are left to them.

Acceptance criteria:

- [ ] I can find this information easily when I am looking for it
- [ ] I can tell how many controls cg is going to take care of for

[2016-09-17 20:30] rjbator commented on #270
I made a pass on the RA and a few comments.  I see Bridget still has some comments that have not been marked "resolved" yet but looks like they have been addressed.  Are we expecting to wait for Bridget to make another pass or should we mark these resolved?

[2016-09-17 20:54] rjbator commented on #273
I took a pass at this control area.  Looks good I made a few comments and I see there are still several unresolved out there by Britta.

[2016-09-19 14:20] jmcarp opened #301 "Consolidate CI tools"
We're currently using concourse, travis, and circle for ci services (wercker is on the way out because it was only used for a few repos). This is more than we need. Plus, switching between tools is potentially confusing, and each external ci integration gets write access to all our repos, because github.

I'd like to consolidate to either one ci tool (just concourse) or two (concourse and a single

[2016-09-19 16:59] mogul commented on #262
@datn is going to harmonize with related controls in IA and SI.

[2016-09-19 17:41] jmcarp commented on #294
@sharms and I added what we could, but there are still gaps on external services that we aren't familiar with. @brittag: can you nominate somebody who knows about google analytics, aha!, etc.?

[2016-09-19 18:37] jbarnicle commented on #264
The CA document is ready for review @rjbator

[2016-09-19 21:13] brittag opened #303 "Update AC-10 through AC-14 control sub-families to accurately reflect our system for review"
In order for compliance reviewers to understand our system, we need to update these sub-families of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [AC Google Doc](https:/

[2016-09-19 21:18] brittag commented on #300
This might be good to file in cg-docs. Just in case it's helpful, additional context/resources for this item: the FedRAMP draft of this is [in the second tab here](https://docs.google.com/spreadsheets/d/1Yxt1mMZAdSyKt2OGY1qdkkfZhBiKV6ZuD7sZPKxikuQ/edit#gid=600210940), and @jezhumble has been working on a cloud.gov customer responsibility matrix for GSA compliance.

[2016-09-19 21:21] brittag opened #304 "Update AC-5 through AC-7 control sub-families to accurately reflect our system for review"
In order for compliance reviewers to understand our system, we need to update these sub-families of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [AC Google Doc](https:/

[2016-09-19 21:24] brittag opened #305 "Update AC-17 through AC-22 control sub-families to accurately reflect our system for review"
In order for compliance reviewers to understand our system, we need to update these sub-families of control statements to explain our system (and policies and procedures) in more precise and thorough detail.

**Setup**

Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [AC Google Doc](https:/

[2016-09-19 23:36] suprenant commented on #115
Replacing with https://github.com/18F/cg-dashboard/issues/602

[2016-09-19 23:36] #115 closed

[2016-09-19 23:44] suprenant commented on #287
Possibly related issue on pricing: https://github.com/18F/cg-product/issues/299

[2016-09-20 01:02] brittag commented on #298
Steve, Joshua, and I updated a bunch of the control statements here. We've done as much as we can on this one. There are a few comments pointing out places where we need feedback on policy - we've tagged Noah, Randy, and Jacob KM for help.

[2016-09-20 11:26] rjbator commented on #264
I have reviewed all of CA and made several comments and revisions.

[2016-09-20 17:17] brittag commented on #264
From my perspective, current blockers to moving this to "closed":

* CA-1 needs work, like all our other -1 controls.
* Parameter CA-7(g)-2 has a question that needs to be answered.
* I'm not sure if our approach to CA-7 is right - not sure if we need to include more summary info in those statements.
* CA-8 is confusing to me since I don't know how to interpret whether AWS qualifies as a "connecti

[2016-09-20 18:01] brittag commented on #272
Status of review:
- [ ] Check overall to make sure references to "Cloud Foundry" aren't confusing to reviewers.
- [ ] Check overall whether AWS inherited needs to be checked in any additional origination checkboxes: "For any control that leverages components or features of the underlying IaaS, the "Inherited" box should also be checked."
- [ ] There are also some specific problems to resolve, flag

[2016-09-20 18:43] brittag commented on #273
I believe SI is *done* other than fixing -1. If we feel we have -1 controls adequately handled separately (as part of https://github.com/18F/cg-compliance/issues/179), we can move this to closed.

[2016-09-20 18:48] brittag opened #306 "Make sure -1 control statements are all updated"
In order for Technical Reviewers to understand our system, we should ensure our -1 control summaries in all control families reflect our system and operations accurately and comprehensively.

**Setup**
Read the guidance in [HOWTO update the SSP](https://docs.google.com/document/d/1ltS7Lh8tdWeaDyABEupvHQDCpdaDMNlerrMcvrR5bio/edit) before working on this.

* [SSP family docs are here](https://drive.

[2016-09-20 18:52] brittag commented on #273
OK, I made sure we'll handle -1 control statements separately by filing https://github.com/18F/cg-product/issues/306 - so I'm going to close this as done.

[2016-09-20 18:52] #273 closed

[2016-09-20 19:00] brittag commented on #270
Remaining problems I see blocking this from moving to closed, as flagged in the doc:

* We need info about whether a few things should be "OCISO" or "OCIO".
* We need info about GSA IT scans.

@rjbator can you take another look at the questions from Chris in that doc and see if you have info to help answer them? Thank you!

(Fixing the -1 statement doesn't need to block this since it's filed separ

[2016-09-20 19:23] brittag commented on #298
@rjbator I believe this is in good enough shape for your review!

Notes:

* IR-1 will be handled by https://github.com/18F/cg-product/issues/306
* IR-9 (4) isn't filled out yet; Noah will handle that one.

[2016-09-20 19:23] rjbator commented on #270
I will circle back and look at them.

[2016-09-20 19:24] rjbator commented on #298
Roger that I will go back and do another pass.

[2016-09-20 19:33] mogul commented on #260
Change in plans... After a discussion with @NoahKunin we will be following the Before You Ship guide for 18F-originated repositories, in keeping with the practices observed in our leveraged dependency ATOs. I've edited the story definition up-top accordingly with @cnelson.

[2016-09-20 19:33] brittag commented on #265
CM-11 is no longer blocked! I have some very minor comments on a few controls, but overall this looks excellent and full of really good updated info, so I'm going to move this to Awaiting Acceptance. @rjbator, can you take a look at it overall?

(Then during Awaiting Acceptance we can address a fresh set of comments all at once to get a final version, instead of addressing my minor comments and *t

[2016-09-20 19:49] rjbator commented on #265
On my list for today/tonight....

[2016-09-20 19:50] brittag commented on #294
I suspect we'll need to include these tools in the tables too: "All open source code that is used in the system is scanned using AST tools from Hewlett-Packard including Fortify and Gas." (quoted from [SI family](https://docs.google.com/document/d/1suPHrUZUps1mWctbTXBK7qsMTEDw0envn10A9scOEPA/edit)).

[2016-09-20 20:32] cnelson commented on #260
Just to sanity check before I enable these tools for all repos in scope, this is what we are after correct?

Same report after introducing a "defect":  https://codeclimate.com/github/18F/cg-uaa-invite/pull/11
PR shows code climate failed as it identified new issues: https://github.com/18F/cg-uaa-invite/pull/11

[2016-09-20 21:09] afeld commented on #260
/cc https://github.com/18F/before-you-ship/issues/213

[2016-09-20 21:25] NoahKunin commented on #260
@cnelson TLDR: yes!

Full answer: actually, hard incorporating it as a CI block is even better than a simple alert of course. That's not (yet) a formal requirement of Before You Ship.

Right now the threshold would be to set up Code Climate (or whatever) continuous monitoring and ensure at minimum there's a badge code snippet in the README (usually one is available from the provider, see [example]

[2016-09-20 21:48] mogul commented on #260
We're going to avoid going down the broadcast-notification rabbit-hole for now... The process as it stands will make sure that checks run when new code is proposed, and our policy of not accepting our own pull-requests means someone will have to deal with issues noted via PRs as they happen.

[2016-09-20 21:51] cnelson commented on #260
Code Climate can send weekly summary emails of the current state of your code.  There's your MVP regularly scheduled reminders on top of the scanning during each PR.

[2016-09-20 22:44] brittag opened #307 "Adequately document MA, MP, and PE controls in SSP"
In order for compliance reviewers to understand our system, we need to make sure these families of control statements explain our system (and policies and procedures) in more precise and thorough detail.

These three families are primarily answered by "this is inherited from AWS", so there shouldn't be a ton to do for them, but we should still look over them to make sure they're ok.

**Setup**

Re

[2016-09-21 00:58] datn commented on #262
Language has been harmonized with IA & SI as needed, and a couple of cross-refs added. I spent today wack-a-moling a bunch of comments.

Next steps are nailing down some of Britta's thornier observations relevant to areas outside those mentioned in the ACs above.

[2016-09-21 01:41] afeld commented on #260
Just sent them an email:

[2016-09-21 01:42] afeld commented on #260
...because I'm not sure that the summary emails would actually trigger new scans of inactive repositories.

[2016-09-21 02:14] brittag commented on #269
Status:
* Noah addressed the two main SRTM comments.
* -1 will be handled separately, like the other -1 controls, at https://github.com/18F/cg-product/issues/306
* There are a few small remaining items flagged as suggestions/comments; Noah is working these out.

[2016-09-21 10:49] rjbator commented on #265
Completed my pass and put in comments/once looked at I am good to go on this section.....

[2016-09-21 16:58] dlapiduz commented on #260
Do they have an API where you can trigger a scan?

[2016-09-21 17:12] cnelson commented on #260
@dlapiduz, yep: https://codeclimate.com/docs/api

[code]

Also you can run these tools locally during development (requires docker):
https://github.com/codeclimate/codeclimate

[2016-09-21 18:03] datn commented on #262
I've put this doc in as good a state as I currently know how. Adding @rjbator as assignee for much-needed feedback and further comments.

[2016-09-21 18:34] #265 closed

[2016-09-21 18:39] brittag commented on #262
Thank you so much @datn, this is looking good! I went though and accepted a bunch of the suggestions and refined a few of the statements. I'm moving this to Awaiting Acceptance!

[2016-09-21 19:30] suprenant commented on #260
Is there work here intended for Liberator?

We are wondering what, if anything, we are supposed to do with the results. We've gone through those indicating that we have some vulnerabilities but are not sure if they're applicable to the front-end application.

@msecret and I just briefly spoke and are wondering what the process is to address these or set them up to be ignored.

[2016-09-21 19:32] NoahKunin commented on #293
on it

[2016-09-21 19:53] NoahKunin commented on #293
Ok, re-wrote it, will have to do the diagrams too now.

[2016-09-21 19:57] datn opened #309 "Make NTP config geographically diverse"
As part of our audit of the AU family in the SSP, it came to light that we should be using geographically diverse NTP servers (AU-8(1) req.1). Using 0|1|2.pool.ntp.org, as I see in the repo, does not guarantee geographical diversity.

We should change our configs to guarantee geographical diversity to satisfy the SSP, perhaps by using the continental zones: http://www.pool.ntp.org/zone/@

[2016-09-21 20:01] mogul commented on #260
@suprenant you can go into Code Climate and [mark them as false positives](https://docs.codeclimate.com/docs/marking-false-positives) if they don't indicate anything demonstrably wrong with the code.

[2016-09-21 20:02] NoahKunin commented on #260
First, come to a final answer on how you see the results. If you concur
they should be fixed, and can do so immediately, just do it.

If you can't fix it immediately, or think it's not applicable, or just
don't know, all should be sent to the ISSO (Randy B) and the DAO (Diego)
for  adjudication. If you don't think it is applicable include a short
explanation and justification. Randy will ensure it

[2016-09-21 20:03] NoahKunin commented on #260
Above doesn't contradict what @mogul said, but regardless of why we are ignoring (false positive or not applicable) we need a short written explanation somewhere.

[2016-09-21 20:35] rjbator commented on #298
I am done with IR pass .....I have some comments in there.

[2016-09-21 22:33] nikzei commented on #205
Transfered to skyporter Trello.

[2016-09-21 22:33] #205 closed

[2016-09-22 01:24] brittag commented on #305
I added some comments/suggestions to the doc to flag the problems in these acceptance criteria (and to add more detail explaining these requirements). Hope that helps!

[2016-09-22 01:48] brittag commented on #303
I added some suggestions and comments in the Google doc to flag these acceptance criteria in context, and to flag some additional questions and problems in these controls.

[2016-09-22 16:36] rjbator commented on #262
I have reviewed all of AU and left my comments/notes.

[2016-09-22 17:43] brittag commented on #275
Language consistency checks at the end may need to include:
* GSA SSO / SecureAuth
* jump box / bastion host

[2016-09-22 17:50] suprenant commented on #254
Is this issue still useful? The idea seems helpful, but it's been sitting on the same place in the board for a month.

Maybe this information is better suited for one of our process documents rather than an issue on the board?

cc @nikzei @mogul

[2016-09-22 17:52] suprenant commented on #191
@msecret I'm going to close this – it seems redundant with #189. Let me know if that doesn't seem right

[2016-09-22 17:52] #191 closed

[2016-09-22 18:20] jmcarp commented on #304
We're currently blocked on finishing AC-7 waiting for information on SecureAuth from various sources, but other than that, this is ready for review by @rjbator.

[2016-09-22 18:31] jmcarp commented on #294
Update: we don't need to include fortify or gas here. @mogul suggested that Aha! can be removed--anybody have thoughts on that? I didn't put it there and don't know whether it belongs. @brittag: can you nominate someone who knows more about these external services (and about which of them need to be included) to complete this?

[2016-09-22 18:33] rjbator commented on #304
Checked it out and made some comments

[2016-09-22 19:08] rjbator commented on #273
I have reviewed all of SI and made my comments/notes.

[2016-09-22 22:21] brittag commented on #275
* Check links to docs.cloud.gov and convert to docs.fr.cloud.gov
* Consider including a table of referenced docs.fr.cloud.gov and diagrams.fr.cloud.gov documents, with revision dates/histories.

[2016-09-22 22:39] jbarnicle commented on #303
@rjbator We're looking for a little clarification / direction on AC-10 and AC-11

AC-10 calls for limiting the number of concurrent sessions on cloud.gov.  Cloud.gov utilizes the Cloud Foundry UAA for user login and does not currently support this feature.   It's not clear what the goal of this control is and how we might suggest an alternate implementation.

AC-11 calls for a session lock.  Sessi

[2016-09-22 22:58] brittag commented on #305
Update: this is in pretty good shape! The doc has a few open questions flagged for Steve and Adam, and 22 (d) requires some discussion with the team, but the rest should be approximately good.

[2016-09-22 23:13] rjbator commented on #303
I will take a look, do some research, and provide feedback

[2016-09-22 23:13] mogul commented on #254
We've got enough process in flight that it's hard to get people to use this
habitually. I'd say let's kill this and just double-down on getting team
members to put up cards for anything that crosses the white-noise
threshhold (more than an hour of work/attention) when distractions are
mentioned in standups.

On Thu, Sep 22, 2016 at 10:50 AM, Andrew Suprenant <notifications@github.com

[2016-09-22 23:24] rjbator commented on #303
AC-11 - This control was originally designed for OS level type of system sessions and locks (ie. WINDOZ and the like) while it can be applicable to the application level if it is designed with this capability generally it is not.  I am fine with what we have here in this section and if someone wants to push back I think we can explain.

[2016-09-22 23:28] rjbator commented on #303
AC-10 has always been open to interpretation by auditors in many different ways.  I believe the intent of this control was originally to allow organizations with highly critical information systems to define and limit the number of administrative concurrent sessions (and thereby administrative activities ongoing simultaneously) to a limited number predefined by the organization to minimize potenti

[2016-09-23 00:00] suprenant commented on #254
OK, closing this up

[2016-09-23 00:00] #254 closed

[2016-09-23 00:21] brittag commented on #275
Make headings consistent, such as:
* For controls with multiple implementation statuses or control originations, explaining which is which
* Consistently formatting bold subheadings for things like AWS/GitHub/etc.

[2016-09-23 00:28] jbarnicle commented on #303
@rjbator One approach we thought of taking with AC-10 is to say that by design the cloud.gov operations team strives to perform the majority of administrative tasks via configuration delivered via our continuos integration process.    As such these tasks are usually implemented serially and lessens the amount of administrative sessions / tasks performed in real time.  Would this be a sufficient ar

[2016-09-23 00:30] rjbator commented on #303
I can not speak for all auditors but I know I would agree with that argument.

[2016-09-23 01:40] brittag opened #311 "Revise our contingency plan to cover the case of GitHub being unavailable"
This is related to the task at https://github.com/18F/cg-product/issues/266 ("Adequately document CP controls in SSP").

See the [JAB spreadsheet](https://docs.google.com/spreadsheets/d/1DrijIZDu0tltgKR8q36dnk00Z86b2yoQ_wO0kSIq1sM/edit#gid=622192705) and [JAB notes](https://docs.google.com/document/d/1xIt84KHrmcOvymfoK-Tzz-_uahIgfL6tGGVdHnAESuo/edit) for context.

**Acceptance criteria**

- [x] Ou

[2016-09-23 18:31] jbarnicle commented on #303
@rjbator - Controls AC-10 thru AC-14 are ready for review

[2016-09-23 18:42] rjbator commented on #303
Thanks I will go over them....

[2016-09-23 20:49] afeld commented on #53
Worth noting that https://docs.cloud.gov/ops/aws-onboarding/ isn't accurate anymore, either.

/cc @jmcarp https://github.com/18F/cg-product/issues/280

[2016-09-23 20:53] afeld commented on #280
@rjbator @brittag There is no mention of logging in [AC-2(f)](https://web.nvd.nist.gov/view/800-53/Rev4/control?controlName=AC-2)...maybe this was a mistake and was intended for a different control?

[2016-09-23 21:09] afeld commented on #280
Is this referring to _all_ cloud.gov accounts, or just administrative ones? The control itself doesn't specify.

[2016-09-23 21:18] datn commented on #305
@jmcarp and I went through some parts of this today, cleaning up some bits and leaving perhaps only three important questions:

1. Can we destroy a container? (AC-17(9) )
2. Do we have to do quarterly Github audits? (AC-22)
3. The fact that we don't log Concourse UAA attempts/failures/etc. to the ELK stack makes it partially implemented; is that OK? (AC-17(1) )

[2016-09-23 21:48] afeld commented on #280
Not seeing

[2016-09-24 01:35] mogul commented on #299
Fixed by https://github.com/18F/cg-docs/issues/415

[2016-09-24 01:35] #299 closed

[2016-09-24 19:41] brittag commented on #294
Removing Aha seems fine to me since it doesn't affect our security posture at all.

[2016-09-24 21:12] brittag commented on #294
Next steps / missing info right now includes: Does StatusPage have MFA? Who has access to Mandrill/Mailchimp, and does it have MFA? Who has access to New Relic, CodeClimate, Travis CI, Codecov, and CircleCI?

[2016-09-24 23:01] mogul commented on #294
Just confirmed that StatusPage does *not* have MFA. I am pretty sure people
on the team are logging in with their GSA Google Account, but there's
nothing in place to measure/enforce that.

@dlapiduz has access to Mandrill and Mailchimp.

Can't speak to New Relic.

CodeClimate, Travis CI, Codecov, and CircleCI all auth against GitHub AFAIK.

On Sat, Sep 24, 2016 at 2:12 PM, Britta <notifications@gi

[2016-09-25 21:54] NoahKunin commented on #261
Seems like I have the ability to make any needed new policies and properly document. Taking this over.

[2016-09-25 21:58] NoahKunin commented on #260
Looks done. Will ensure all controls are updated to reflect reality.

[2016-09-25 21:58] #260 closed

[2016-09-25 21:58] NoahKunin commented on #304
Reviewing.

[2016-09-25 23:00] NoahKunin commented on #304
Done. Cleaned up an ready for re-importation into Word on 9/26. Put `todo` and `confusing` labels in text so I can actually search on them.

[2016-09-25 23:00] #304 closed

[2016-09-25 23:04] NoahKunin commented on #311
Looks like this is one thing that is truly WIP and can't absorb. Let's make sure there's a formal work session this week to ship it.

[2016-09-25 23:04] NoahKunin commented on #280
Absorbed into final AC review.

[2016-09-25 23:04] #280 closed

[2016-09-25 23:05] NoahKunin commented on #305
^^ is gold plating. Absorbing into final AC review.

[2016-09-25 23:05] #305 closed

[2016-09-25 23:05] NoahKunin commented on #303
Done and absorbed.

[2016-09-25 23:05] #303 closed

[2016-09-26 02:59] NoahKunin commented on #261
Final notes before I close:

Nope, we shouldn't make this a requirement. Too brittle for audits.

Yes. We have an Off-Boarding Checklist already, I'm pretty sure we have an Onboarding one as well.

On it. And this: https://github.com/fugacious/fugacious/issues/66

The rest will be caught up in my QA as well.

[2016-09-26 02:59] #261 closed

[2016-09-26 03:12] NoahKunin opened #312 "Write a "how we use Fugacious" entry in the Handbook"
Putting this here so it gets tracked as SSP work.

[2016-09-26 03:16] NoahKunin commented on #270
Taking this over so we meet the deadline.

[2016-09-26 03:17] NoahKunin commented on #272
Given that this hasn't happened yet, taking it over.

[2016-09-26 03:18] NoahKunin commented on #264
Third bullet is resolved (it isn't) and I'll answer the rest.

[2016-09-26 03:18] NoahKunin commented on #298
Will resolve comments and approve.

[2016-09-26 03:18] NoahKunin commented on #262
Will resolve @rjbator's comments and accept.

[2016-09-26 03:19] NoahKunin commented on #264
I'll also do final checks on this: https://github.com/18F/cg-product/issues/293

[2016-09-26 03:19] NoahKunin commented on #293
Closing to keep open issue sanity.

[2016-09-26 03:19] #293 closed

[2016-09-26 03:21] NoahKunin commented on #291
While this is a very cool concept for moving forward, we needed just to focus on the external service flows. If the content from 9 days ago is current, I'll take it from here. If not, please come back here and drop a link @sharms

[2016-09-26 03:22] NoahKunin commented on #294
I'll take it from here.

[2016-09-26 03:23] NoahKunin commented on #271
I'll take it from here.

[2016-09-26 03:25] NoahKunin commented on #263
I have the answers. Taking it from here.

[2016-09-26 03:34] NoahKunin commented on #307
did quick scan of @sharms stuff, good for now, grabbing, thx!

[2016-09-26 03:34] NoahKunin commented on #268
on it

[2016-09-26 03:35] NoahKunin commented on #269
on it

[2016-09-26 03:35] NoahKunin commented on #266
Should cross reference #311

[2016-09-26 04:50] brittag commented on #261
Yes, onboarding checklist is here: https://github.com/18F/cg-product/blob/master/OnboardingChecklist.md

[2016-09-26 18:12] brittag commented on #312
Bringing over notes from Slack:

* This needs some info about what is appropriate/acceptable to share over Fugacious and what isn’t - see line 19 at https://docs.google.com/spreadsheets/d/1DrijIZDu0tltgKR8q36dnk00Z86b2yoQ_wO0kSIq1sM/edit#gid=622192705 for details.
* We should link back to this new handbook page from https://github.com/18F/open-source-policy/blob/master/practice.md#protecting-sensi

[2016-09-26 18:19] brittag opened #313 "Update our documentation about sensitive info with more detail"
In order for our cloud.gov team to have a clear shared understanding about sensitive info we shouldn't share publicly (and demonstrate to compliance reviewers that we have this clear shared understanding), our policy/practices documentation should explain a few additional types of info that we don't share.

See item 17 in [this notes spreadsheet](https://docs.google.com/spreadsheets/d/1DrijIZDu0tl

[2016-09-26 18:24] brittag commented on #275
Another item for a final polishing stage: take a look through the [JAB spreadsheet](https://docs.google.com/spreadsheets/d/1DrijIZDu0tltgKR8q36dnk00Z86b2yoQ_wO0kSIq1sM/edit#gid=622192705) and [JAB notes](https://docs.google.com/document/d/1xIt84KHrmcOvymfoK-Tzz-_uahIgfL6tGGVdHnAESuo/edit) and see if there are any lingering points from those notes that can be addressed with simple cross-references